{% import "github.com/kyleu/admini/app" %}
{% import "github.com/kyleu/admini/app/util" %}
{% import "strings" %}

{% func WorkspaceLink(as *app.State, ctxT string, ctxK string, paths ...string) %}{% stripspace %}
  {%s as.Route(ctxT, "key", ctxK) %}{% if len(paths) > 0 %}/{%s strings.Join(paths, "/") %}{% endif %}
{% endstripspace %}{% endfunc %}

{% func WorkspacePackage(as *app.State, ctxT string, ctxK string, pkg util.Pkg) %}{% stripspace %}
  {% for idx, x := range pkg %}
    <a href="{%= WorkspaceLink(as, ctxT, ctxK, pkg[:idx + 1]...) %}">{%s x %}</a>
    {% if idx < len(pkg) - 1 %}{% space %}/{% space %}{% endif %}
  {% endfor %}
{% endstripspace %}{% endfunc %}
