{% import "net/url" %}
{% import "github.com/kyleu/admini/app/controller/cutil" %}
{% import "github.com/kyleu/admini/app/util" %}

{% func thNormal(section string, key string, title string, params *util.Params, u *url.URL, tooltip string, ps *cutil.PageState) %}{% stripspace %}
  <a class="sort-hover" href="?{%s= params.CloneOrdering(&util.Ordering{Column: key, Asc: true}).ToQueryString(u) %}" title="{%s tooltip %}">
    <div class="sort-icon" title="click to sort by this column, ascending">{%= SVGRef(`down`, 0, 0, ``, ``, ps) %}</div>
    <div class="sort-title">{%s title %}</div>
  </a>
{% endstripspace %}{% endfunc %}

{% func thSorted(asc bool, section string, key string, title string, params *util.Params, u *url.URL, tooltip string, ps *cutil.PageState) %}{% stripspace %}
  {% code
    ascStr := "ascending"
    dirStr := "up"
    if(asc) {
      ascStr = "descending"
      dirStr = "down"
    }
  %}
  <a href="?{%s= params.CloneOrdering(&util.Ordering{Column: key, Asc: !asc}).ToQueryString(u) %}" title="{%s tooltip %}">
    <div class="sort-icon" title="click to sort by this column,{% space %}{%s ascStr %}">{%= SVGRef(dirStr, 0, 0, ``, ``, ps) %}</div>
    <div class="sort-title">{%s title %}</div>
  </a>
{% endstripspace %}{% endfunc %}

{% func TableHeader(section string, key string, title string, params *util.Params, u *url.URL, tooltip string, sortable bool, ps *cutil.PageState) %}{% stripspace %}
<th scope="col">
  {% if !sortable %}
    <div title="{%s tooltip %}">{%s title %}</div>
  {% elseif params == nil %}
    {%= thNormal(section, key, title, params, u, tooltip, ps) %}
  {% else %}
    {%code o := params.GetOrdering(key) %}
    {% if o == nil %}
      {%= thNormal(section, key, title, params, u, tooltip, ps) %}
    {% else %}
      {%= thSorted(o.Asc, section, key, title, params, u, tooltip, ps) %}
    {% endif %}
  {% endif %}
</th>
{% endstripspace %}{% endfunc %}
