{% import "github.com/kyleu/admini/app/user" %}
{% import "github.com/kyleu/admini/views/vutil" %}

{% func ThemeEditor(t user.Colors, indent int) %}{% stripspace %}
  <table>
    {%= vutil.Indent(true, indent + 1) %}
    <tbody>
      {%= colorInput("foreground", t.Foreground, indent + 2) %}
      {%= colorInput("foreground-muted", t.ForegroundMuted, indent + 2) %}
      {%= colorInput("background", t.Background, indent + 2) %}
      {%= colorInput("background-muted", t.BackgroundMuted, indent + 2) %}

      {%= colorInput("highlight", t.Highlight, indent + 2) %}
      {%= colorInput("link", t.Link, indent + 2) %}
      {%= colorInput("link-visited", t.LinkVisited, indent + 2) %}

      {%= colorInput("nav-foreground", t.NavForeground, indent + 2) %}
      {%= colorInput("nav-background", t.NavBackground, indent + 2) %}

      {%= colorInput("menu-foreground", t.MenuForeground, indent + 2) %}
      {%= colorInput("menu-background", t.MenuBackground, indent + 2) %}
      {%= colorInput("menu-background-selected", t.MenuBackgroundSelected, indent + 2) %}
    {%= vutil.Indent(true, indent + 1) %}
    </tbody>
  {%= vutil.Indent(true, indent) %}
  </table>
{% endstripspace %}{% endfunc %}

{% func colorInput(k string, v string, indent int) %}{% stripspace %}
  {%= vutil.Indent(true, indent) %}
  <tr>
    {%= vutil.Indent(true, indent + 1) %}
    <td>{%s k %}</td>
    {%= vutil.Indent(true, indent + 1) %}
    <td><input class="color-var" data-var="color-{%s k %}" type="color" value="{%s v %}" /></td>
  {%= vutil.Indent(true, indent) %}
  </tr>
{% endstripspace %}{% endfunc %}
