{% import (
  "github.com/kyleu/admini/app"
  "github.com/kyleu/admini/app/action"
  "github.com/kyleu/admini/app/controller/cutil"
  "github.com/kyleu/admini/app/project"
  "github.com/kyleu/admini/views/components"
  "github.com/kyleu/admini/views/components/fieldview"
  "github.com/kyleu/admini/views/layout"
) %}

{% code type ActionEdit struct {
  layout.Basic
  Project *project.Project
  Act *action.Action
} %}

{% func (p *ActionEdit) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right"><em>{%s p.Act.Type().Title %}</em></div>
    <h3>{%= components.SVGRef(p.Act.IconWithFallback(), 20, 20, "icon", ps) %}{%s p.Act.Name() %}</h3>
    <em>{%s p.Act.ConfigString() %}</em>
    <form class="mt" action="/project/{%s p.Project.Key %}/action/{%s p.Act.Pkg.ToPath(p.Act.Key) %}" method="post" enctype="application/x-www-form-urlencoded">
      <table>
        <tbody>
          {%= components.TableInput("key", "Key", p.Act.Key, 5) %}
          {%- if p.Act.TypeKey != action.TypeSeparator.Key -%}
          {%= components.TableInput("title", "Title", p.Act.Title, 5) %}
          {%= components.TableIcons("icon", "Icon", p.Act.Icon, ps, 5) %}
          {%= components.TableTextarea("description", "Description", 8, p.Act.Description, 5) %}
          {%- endif -%}
          {%- switch p.Act.TypeKey -%}
          {%- case action.TypeStatic.Key -%}
          {%- code
            format, _ := p.Act.Config["format"].(string)
            content, _ := p.Act.Config["content"].(string)
          -%}
          {%= components.TableSelect("format", "Format", format, []string{"html", "text", "code"}, []string{"HTML", "Text", "Code"}, 5) %}
          {%= components.TableTextarea("content", "Content", 8, content, 5) %}
          {%- endswitch -%}
        </tbody>
      </table>
      <div class="mt">
        <button type="submit">Save Changes</button>
        <a href="/project/{%s p.Project.Key %}"><button type="button">Cancel</button></a>
      </div>
    </form>
  </div>
  <div class="card">
    <h3>Action JSON</h3>
    {%= fieldview.JSON(p.Act) %}
  </div>
{% endfunc %}
