{% import (
  "admini.dev/admini/app"
  "admini.dev/admini/app/action"
  "admini.dev/admini/app/controller/cutil"
  "admini.dev/admini/views/components"
) %}

{% func ActionList(prj string, act *action.Action, as *app.State, ps *cutil.PageState, indent int) %}{% stripspace %}
  <div class="item" data-key="{%s act.Key %}" data-title="{%s act.Title %}" data-original-path="{%s act.Pkg.ToPath(act.Key) %}">
    {%= components.Indent(true, indent + 1) %}
    <div class="content">
      {%= components.Indent(true, indent + 2) %}
      <div class="handle">≡</div>
      {%= components.Indent(true, indent + 2) %}
      <div class="title">
        {%- if act.Type().Key == action.TypeSeparator.Key -%}
        <em>Separator</em>
        {%- else -%}
        <a href="/project/{%s prj %}/action/{%s act.Pkg.ToPath(act.Key) %}">
          {%= components.SVGRef(act.IconWithFallback(), 16, 16, "icon", ps) %}
          {%s act.Name() %}
        </a>
        {%- endif -%}
      </div>
      {%= components.Indent(true, indent + 2) %}
      <div class="remove">×</div>
      {%= components.Indent(true, indent + 1) %}
    </div>
    {%= components.Indent(true, indent + 1) %}
    {% if len(act.Children) == 0 %}
      <div class="container"></div>
    {% else %}
      <div class="container">
        {% for _, kid := range act.Children %}
          {%= components.Indent(true, indent + 2) %}
          {%= ActionList(prj, kid, as, ps, indent + 2) %}
        {% endfor %}
      {%= components.Indent(true, indent + 1) %}
      </div>
    {% endif %}
  {%= components.Indent(true, indent) %}
  </div>
{% endstripspace %}{% endfunc %}
