{% import (
  "fmt"

  "admini.dev/admini/app"
  "admini.dev/admini/app/action"
  "admini.dev/admini/app/controller/cutil"
  "admini.dev/admini/app/lib/schema"
  "admini.dev/admini/app/lib/schema/model"
  "admini.dev/admini/app/project"
  "admini.dev/admini/app/source"
  "admini.dev/admini/views/components"
) %}

{% func ActionAvailable(v *project.View, as *app.State, ps *cutil.PageState, indent int) %}{% stripspace %}
  <div class="container">
    {%= itemTemplate(action.TypeFolder, `folder`, `New Folder`, indent) %}
    {%= itemTemplate(action.TypeStatic, action.TypeStatic.Key, `Static Content`, indent) %}
    {%= itemTemplate(action.TypeSeparator, action.TypeSeparator.Key, `Separator`, indent) %}
    {%= itemTemplate(action.TypeAll, action.TypeAll.Key, `All Sources`, indent) %}
    {%- for _, src := range v.Sources -%}
      {%= itemSchema(src, v.Schemata.Get(src.Key), indent) %}
    {% endfor %}
  </div>
{% endstripspace %}{% endfunc %}

{% func itemSchema(src *source.Source, sch *schema.Schema, indent int) %}{% stripspace %}
  {%= itemTemplate(action.TypeSource, `source/` + src.Key, src.Name(), 5) %}
  {%= itemTemplate(action.TypeActivity, `activity/` + src.Key + "/sql", "SQL Playground", 5) %}
  {%= itemModelPackage(src, sch.ModelsByPackage(), false, 5) %}
{% endstripspace %}{% endfunc %}

{% func itemModelPackage(src *source.Source, pkg *model.Package, showRoot bool, indent int) %}{% stripspace %}
  {% if showRoot %}
    {%= itemTemplate(action.TypePackage, fmt.Sprintf("package/%s/%s", src.Key, pkg.PathString()), pkg.Key, indent) %}
  {% endif %}
  {% for _, p := range pkg.ChildPackages %}
    {%= components.Indent(true, indent) %}
    {%= itemModelPackage(src, p, true, indent) %}
  {% endfor %}
  {% for _, m := range pkg.ChildModels %}
    {%= components.Indent(true, indent) %}
    {%= itemTemplate(action.TypeModel, fmt.Sprintf("model/%s/%s", src.Key, m.PathString()), m.Name(), indent) %}
  {% endfor %}
{% endstripspace %}{% endfunc %}

{% func itemTemplate(t *action.Type, path string, title string, indent int) %}{% stripspace %}
  <div class="item{% space %}{%s t.Key %}" data-key="_new" data-title="{%s title %}" data-original-path="{%s path %}">
    {%= components.Indent(true, indent + 1) %}
    <div class="content">
      {%= components.Indent(true, indent + 2) %}
      <div class="handle">≡</div>
      {%= components.Indent(true, indent + 2) %}
      <div class="title">{%s title %}</div>
      {%= components.Indent(true, indent + 2) %}
      <div class="remove">×</div>
    {%= components.Indent(true, indent + 1) %}
    </div>
    {%= components.Indent(true, indent + 1) %}
    <div class="container"></div>
  {%= components.Indent(true, indent) %}
  </div>
{% endstripspace %}{% endfunc %}
