{% import "github.com/kyleu/admini/app" %}
{% import "github.com/kyleu/admini/app/controller/cutil" %}
{% import "github.com/kyleu/admini/app/project" %}
{% import "github.com/kyleu/admini/app/source" %}
{% import "github.com/kyleu/admini/views/components" %}
{% import "github.com/kyleu/admini/views/layout" %}

{% code type Edit struct {
  layout.Basic
  Project *project.Project
  AvailableSources source.Sources
} %}

{% func (p *Edit) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right">
      <a class="link-confirm" data-message="Are you sure you want to delete project [{%s p.Project.Key %}]?" href="/project/{%s p.Project.Key %}/delete">Delete Project</a>
    </div>
    <h3>Edit [{%s p.Project.Key %}]</h3>
    <div class="spacer"></div>
    <form class="editor" action="/project/{%s p.Project.Key %}" method="post" enctype="application/x-www-form-urlencoded">
      <table>
        <tbody>
          {%= components.TableInput("title", "Title", p.Project.Title, 5) %}
          {%= components.TableIcons("icon", "Icon", p.Project.Icon, ps, 5) %}
          {%= components.TableInput("description", "Description", p.Project.Description, 5) %}
          {%= components.TableCheckbox("sources", "Sources", p.Project.Sources, p.AvailableSources.Keys(), p.AvailableSources.Names(), 5) %}
        </tbody>
      </table>
      <div class="spacer"></div>
      <button type="submit">Save Changes</button>
      <button type="reset">Reset</button>
    </form>
  </div>
{% endfunc %}
