{% import "github.com/kyleu/admini/app" %}
{% import "github.com/kyleu/admini/app/controller/cutil" %}
{% import "github.com/kyleu/admini/app/project" %}
{% import "github.com/kyleu/admini/app/source" %}
{% import "github.com/kyleu/admini/views/components" %}
{% import "github.com/kyleu/admini/views/layout" %}

{% code type New struct {
  layout.Basic
  Project *project.Project
  AvailableSources source.Sources
} %}

{% func (p *New) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>New Project</h3>
    <div class="spacer"></div>
    <form class="editor" action="/project" method="post" enctype="application/x-www-form-urlencoded">
      <table>
        <tbody>
          {%= components.TableInput("key", "Key", "", 5) %}
          {%= components.TableInput("title", "Title", "", 5) %}
          {%= components.TableIcons("icon", "Icon", "", ps, 5) %}
          {%= components.TableInput("description", "Description", "", 5) %}
          {%= components.TableCheckbox("sources", "Sources", nil, p.AvailableSources.Keys(), p.AvailableSources.Titles(), 5) %}
        </tbody>
      </table>
      <div class="spacer"></div>
      <button type="submit">Save Changes</button>
      <a href="/project"><button type="button">Cancel</button></a>
    </form>
  </div>
{% endfunc %}
