{% import (
  "admini.dev/admini/app"
  "admini.dev/admini/app/controller/cutil"
  "admini.dev/admini/app/project"
  "admini.dev/admini/app/source"
  "admini.dev/admini/views/components"
  "admini.dev/admini/views/layout"
) %}

{% code type New struct {
  layout.Basic
  Project *project.Project
  AvailableSources source.Sources
} %}

{% func (p *New) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>New Project</h3>
    <form class="mt expanded" action="/project" method="post" enctype="application/x-www-form-urlencoded">
      <table>
        <tbody>
          {%= components.TableInput("key", "Key", "", 5) %}
          {%= components.TableInput("title", "Title", "", 5) %}
          {%= components.TableIcons("icon", "Icon", "", ps, 5) %}
          {%= components.TableInput("description", "Description", "", 5) %}
          {%= components.TableCheckbox("sources", "Sources", nil, p.AvailableSources.Keys(), p.AvailableSources.Names(), 5) %}
        </tbody>
      </table>
      <div class="mt">
        <button type="submit">Save Changes</button>
        <a href="/project"><button type="button">Cancel</button></a>
      </div>
    </form>
  </div>
{% endfunc %}
