{% import "github.com/kyleu/admini/app" %}
{% import "github.com/kyleu/admini/app/controller/cutil" %}
{% import "github.com/kyleu/admini/app/project" %}

{%- func Table(projects project.Projects, as *app.State, ps *cutil.PageState) -%}
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {%- for _, p := range projects -%}
        <tr>
          <td><a href="{%s as.Route(`project.detail`, `key`, p.Key) %}">{%s p.Name() %}</a></td>
          <td>{%s p.Description %}</td>
          <td class="shrink">
            <a href="{%s as.Route(`project.edit`, `key`, p.Key) %}"><button type="button">edit</button></a>
            <a href="{%s as.Route(`workspace`, `key`, p.Key) %}"><button type="button">workspace</button></a>
          </td>
        </tr>
        {%- endfor -%}
      </tbody>
    </table>
{%- endfunc -%}
