{% import (
  "github.com/kyleu/admini/app"
  "github.com/kyleu/admini/app/controller/cutil"
  "github.com/kyleu/admini/app/project"
  "github.com/kyleu/admini/views/components"
) %}

{%- func Table(projects project.Projects, as *app.State, ps *cutil.PageState) -%}
    <table>
      <thead>
        <tr>
          <th style="width: 30%;">Name</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {%- for _, p := range projects -%}
        <tr>
          <td><a href="/project/{%s p.Key %}">{%= components.SVGRef(p.IconWithFallback(), 16, 16, "icon", ps) %}{%s p.Name() %}</a></td>
          <td>{%s p.Description %}</td>
          <td class="shrink">
            <a href="/x/{%s p.Key %}"><button type="button">workspace</button></a>
          </td>
        </tr>
        {%- endfor -%}
      </tbody>
    </table>
{%- endfunc -%}
