{% import "github.com/kyleu/admini/app" %}
{% import "github.com/kyleu/admini/app/controller/cutil" %}
{% import "github.com/kyleu/admini/app/project" %}
{% import "github.com/kyleu/admini/app/sandbox" %}
{% import "github.com/kyleu/admini/app/source" %}
{% import "github.com/kyleu/admini/app/util" %}
{% import "github.com/kyleu/admini/views/layout" %}
{% import "github.com/kyleu/admini/views/vproject" %}
{% import "github.com/kyleu/admini/views/vsource" %}

{% code type Home struct {
  layout.Basic
  Sources []*source.Source
  Projects []*project.Project
} %}

{% func (p *Home) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%s util.AppName %}</h3>
  </div>

  <div class="card">
    <h3><a href="{%s as.Route(`project.list`) %}">Projects</a></h3>
    {%- if len(p.Sources) == 0 -%}
    <p>no projects available, why not <a href="{%s as.Route(`todo`) %}">add one</a></p>
    {%- else -%}
    {%= vproject.Table(p.Projects, as, ps) %}
    {%- endif -%}
  </div>

  <div class="card">
    <h3><a href="{%s as.Route(`source.list`) %}">Sources</a></h3>
    {%- if len(p.Sources) == 0 -%}
    <p>no sources available, why not <a href="{%s as.Route(`todo`) %}">add one</a></p>
    {%- else -%}
    {%= vsource.Table(p.Sources, as, ps) %}
    {%- endif -%}
  </div>

  <div class="card">
    <h3><a href="{%s as.Route(`sandbox.list`) %}">Sandboxes</a></h3>
    <ul>
      {%- for _, s := range sandbox.AllSandboxes -%}
      <li><a href="{%s as.Route(`sandbox.run`, `key`, s.Key) %}">{%s s.Title %}</a></li>
      {%- endfor -%}
    </ul>
  </div>
{% endfunc %}
