<!-- $PF_IGNORE$ -->
{% import (
  "github.com/kyleu/admini/app"
  "github.com/kyleu/admini/app/controller/cutil"
  "github.com/kyleu/admini/app/project"
  "github.com/kyleu/admini/app/sandbox"
  "github.com/kyleu/admini/app/source"
  "github.com/kyleu/admini/app/util"
  "github.com/kyleu/admini/views/components"
  "github.com/kyleu/admini/views/layout"
  "github.com/kyleu/admini/views/vproject"
  "github.com/kyleu/admini/views/vsource"
) %}

{% code type Home struct {
  layout.Basic
  Sources source.Sources
  Projects project.Projects
} %}

{% func (p *Home) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGRef(`app`, 20, 20, `icon`, ps) %}{%s util.AppName %}</h3>
  </div>

  <div class="card">
    <div class="right"><a href="/project/_new" title="add new project">{%= components.SVGRef(`plus`, 20, 20, `icon`, ps) %}</a></div>
    <h3><a href="/project">Projects</a></h3>
    {%- if len(p.Projects) == 0 -%}
    <p>no projects available, why not <a href="/project/_new" title="add new project">add one</a></p>
    {%- else -%}
    {%-= vproject.Table(p.Projects, as, ps) -%}
    {%- endif -%}
  </div>

  <div class="card">
    <div class="right"><a href="/source/_new" title="add new source">{%= components.SVGRef(`plus`, 20, 20, `icon`, ps) %}</a></div>
    <h3><a href="/source">Sources</a></h3>
    {%- if len(p.Sources) == 0 -%}
    <p>No sources configured. Would you like to <a href="/source/_new" title="add new source">add a new source</a> or <a href="/source/_example">load the example database</a>?</p>
    {%- else -%}
    {%-= vsource.Table(p.Sources, as, ps) -%}
    {%- endif -%}
  </div>

  <div class="card">
    <h3><a href="/sandbox">Sandboxes</a></h3>
    <ul>
      {%- for _, s := range sandbox.AllSandboxes -%}
      <li><a href="/sandbox/{%s s.Key %}">{%s s.Title %}</a></li>
      {%- endfor -%}
    </ul>
  </div>
{% endfunc %}
