{% import "github.com/kyleu/admini/app" %}
{% import "github.com/kyleu/admini/app/controller/cutil" %}
{% import "github.com/kyleu/admini/app/sandbox" %}
{% import "github.com/kyleu/admini/app/source" %}
{% import "github.com/kyleu/admini/app/util" %}
{% import "github.com/kyleu/admini/views/layout" %}

{% code type Home struct {
  layout.Basic
  Sources []*source.Source
} %}

{% func (p *Home) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%s util.AppName %}</h3>
  </div>

  <div class="card">
    <h3><a href="{%s as.Route(`sandbox.list`) %}">Sandboxes</a></h3>
    <ul>
      {% for _, s := range sandbox.AllSandboxes %}<li><a href="{%s as.Route(`sandbox.run`, `key`, s.Key) %}">{%s s.Title %}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="card">
    <h3><a href="{%s as.Route(`source.list`) %}">Sources</a></h3>
    {% if len(p.Sources) == 0 %}
    <p>no sources available, why not <a href="{%s as.Route(`todo`) %}">add one</a></p>
    {% else %}
    <table>
      <thead>
        <tr>
          <th>Source</th>
          <th>Description</th>
          <th>Type</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for _, s := range p.Sources %}
        <tr>
          <td>
            <a href="{%s as.Route(`source.detail`, `key`, s.Key) %}">{%s s.Title %}</a>
          </td>
          <td>{%s s.Description %}</td>
          <td>{%s s.Type.String() %}</td>
          <td>
            <a href="{%s as.Route(`source.refresh`, `key`, s.Key) %}"><button type="button">refresh</button></a>
            <a href="{%s as.Route(`workspace`, `key`, s.Key) %}"><button type="button">workspace</button></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
{% endfunc %}
