{% import "github.com/kyleu/admini/app" %}
{% import "github.com/kyleu/admini/app/controller/cutil" %}
{% import "github.com/kyleu/admini/views/components/fieldview" %}
{% import "github.com/kyleu/admini/views/layout" %}

{% code type TODO struct {
  layout.Basic
  Message string
} %}

{% func (p *TODO) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>TODO</h3>
    <p>{% if p.Message == `` %}TODO!{% else %}{%s p.Message %}{% endif %}</p>
    {% if ps.Data != nil %}{%= fieldview.JSON(ps.Data) %}{% endif %}
  </div>
{% endfunc %}

