{% import "fmt" %}
{% import "github.com/kyleu/admini/app/schema/schematypes" %}

{% func Any(x interface{}, t schematypes.Type) %}{% stripspace %}
  {% code k := t.Key() %}
  {% if x == nil %}
    <span class="null" title="null value">∅</span>
  {% elseif k == "string" %}
    {%= String(x.(string)) %}
  {% elseif k == "bool" %}
    {%= Boolean(x.(bool)) %}
  {% else %}
    {%= Default(x, t.String()) %}
  {% endif %}
{% endstripspace %}{% endfunc %}

{% func Default(x interface{}, t string) %}{% stripspace %}
  {% code msg := fmt.Sprintf("unhandled type: %s (%T)", t, x) %}
  <span title="{%s msg %}">{%v x %}</span>
{% endstripspace %}{% endfunc %}
