{% import (
  "fmt"
  "github.com/kyleu/admini/app/schema/schematypes"
) %}

{% func Any(x interface{}, t *schematypes.Wrapped) %}{% stripspace %}
  {% switch t.Key() %}
  {% case "option" %}
    {%= Option(x, t.T.(*schematypes.Option)) %}
  {% case "string" %}
    {%= String(x.(string)) %}
  {% case "json" %}
    {%= JSONInline(x) %}
  {% case "int" %}
    {%= Int(x) %}
  {% case "float" %}
    {%= Float(x) %}
  {% case "bool" %}
    {%= Boolean(x.(bool)) %}
  {% default %}
    {%= Default(x, t.String()) %}
  {% endswitch %}
{% endstripspace %}{% endfunc %}

{% func Default(x interface{}, t string) %}{% stripspace %}
  {% code msg := fmt.Sprintf("unhandled type: %s (%T)", t, x) %}
  <span title="{%s msg %}">{%v x %}</span>
{% endstripspace %}{% endfunc %}
