{% import (
  "admini.dev/app"
  "admini.dev/app/action"
  "admini.dev/app/controller/cutil"
  "admini.dev/app/result"
  "admini.dev/views/layout"
  "admini.dev/views/vresult"
) %}

{% code type ActivitySQL struct {
  layout.Basic
  Req *cutil.WorkspaceRequest
  Act *action.Action
  SQL string
  Res *result.Result
} %}

{% func (p *ActivitySQL) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    {%= ActionHeader(p.Act, "SQL Playground", ps) %}
    <form class="sql" action="" method="post">
      <textarea class="pre mt mb" name="sql" placeholder="SQL" rows="10">{%s p.SQL %}</textarea>
      <button type="submit">Run</button>
    </form>
  </div>
  {%- if p.Res != nil -%}
  {%= vresult.Simple(p.Res, 2, as, ps) %}
  {%- endif -%}

  {%-= ResultChildren(p.Req, p.Act, 2) -%}
  {%-= ResultDebug(p.Req, p.Act) -%}
{% endfunc %}
