{% import "github.com/kyleu/admini/app" %}
{% import "github.com/kyleu/admini/app/controller/cutil" %}
{% import "github.com/kyleu/admini/app/project" %}
{% import "github.com/kyleu/admini/app/project/action" %}
{% import "github.com/kyleu/admini/views/layout" %}

{% code type Edit struct {
  layout.Basic
  View *project.View
  Act *action.Action
} %}

{% func (p *Edit) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%s p.Act.Name() %}</h3>
    <form class="editor" action="{%s as.Route(`action.save`, `key`, p.View.Project.Key) %}/{%s p.Act.Pkg.ToPath(p.Act.Key) %}" method="post" enctype="application/x-www-form-urlencoded">
      <table>
        <tbody>
          <tr>
            <th class="shrink"><label for="input-key">Key</label></th>
            <td><input name="key" id="input-key" value="{%s p.Act.Key %}" /></td>
          </tr>
          <tr>
            <th class="shrink"><label for="input-title">Title</label></th>
            <td><input name="title" id="input-title" value="{%s p.Act.Title %}" /></td>
          </tr>
          <tr>
            <th class="shrink"><label for="input-description">Description</label></th>
            <td><input name="description" id="input-description" value="{%s p.Act.Description %}" /></td>
          </tr>
          <tr>
            <td colspan="2">
              <button type="submit">Save Changes</button>
              <a href="{%s as.Route(`project.detail`, `key`, p.View.Project.Key) %}"><button type="button">Cancel</button></a>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
{% endfunc %}
