{% import (
  "github.com/kyleu/admini/app"
  "github.com/kyleu/admini/app/action"
  "github.com/kyleu/admini/app/controller/cutil"
  "github.com/kyleu/admini/views/layout"
) %}

{% code type Folder struct {
  layout.Basic
  Req *cutil.WorkspaceRequest
  Act *action.Action
} %}

{% func (p *Folder) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    {%= ActionHeader(p.Act, "Folder", ps) %}
  </div>
  {%-= ResultChildren(p.Req, p.Act, 1) -%}
  {%-= ResultDebug(p.Req, p.Act) -%}
{% endfunc %}
