{% import "github.com/kyleu/admini/app" %}
{% import "github.com/kyleu/admini/app/action" %}
{% import "github.com/kyleu/admini/app/controller/cutil" %}
{% import "github.com/kyleu/admini/views/components" %}
{% import "github.com/kyleu/admini/views/layout" %}

{% code type Folder struct {
  layout.Basic
  Req *cutil.WorkspaceRequest
  Act *action.Action
} %}

{% func (p *Folder) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right"><a href="#modal-action"><button type="button">Action</button></a></div>
    <h3>{%= components.SVGRef(p.Act.IconWithFallback(), 20, 20, "icon", ps) %}{%s p.Act.Name() %}</h3>
    <em>Folder</em>
  </div>
  {%-= ResultChildren(p.Req, p.Act, 1) -%}
  {%-= ResultDebug(p.Req, p.Act) -%}
{% endfunc %}
