{% import "strings" %}
{% import "github.com/kyleu/admini/app" %}
{% import "github.com/kyleu/admini/app/controller/cutil" %}
{% import "github.com/kyleu/admini/app/model" %}
{% import "github.com/kyleu/admini/app/project/action" %}
{% import "github.com/kyleu/admini/app/util" %}
{% import "github.com/kyleu/admini/views/components/fieldview" %}
{% import "github.com/kyleu/admini/views/layout" %}

{% code type ModelView struct {
  layout.Basic
  Req *cutil.WorkspaceRequest
  Act *action.Action
  Model *model.Model
  ParamSet util.ParamSet
  Result []interface{}
} %}

{% func (p *ModelView) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    {% code
      rowPK, err := model.GetStrings(p.Model.Fields, p.Model.GetPK(ps.Logger), p.Result)
      if err != nil {
        panic(err)
      }
    %}
    <div class="right"><a href="{%s p.Req.RouteAct(p.Act, 1 + len(rowPK), append([]string{`x`}, rowPK...)...) %}">Edit</a></div>
    <h3>{%s strings.Join(rowPK, "/") %}</h3>
    <em>{%s p.Model.Name() %}</em>
    <div class="spacer"></div>
    <table>
      <tbody>
        {% for idx, f := range p.Model.Fields %}
          <tr>
            <th class="shrink">{%s f.Key %}</th>
            <td class="overflow">{%= fieldview.Any(p.Result[idx], f.Type) %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endfunc %}

