{% import "strings" %}
{% import "github.com/kyleu/admini/app" %}
{% import "github.com/kyleu/admini/app/controller/cutil" %}
{% import "github.com/kyleu/admini/app/model" %}
{% import "github.com/kyleu/admini/app/project/action" %}
{% import "github.com/kyleu/admini/app/util" %}
{% import "github.com/kyleu/admini/views/components/fieldedit" %}
{% import "github.com/kyleu/admini/views/layout" %}

{% code type ModelEdit struct {
  layout.Basic
  Req *cutil.WorkspaceRequest
  Act *action.Action
  Model *model.Model
  ParamSet util.ParamSet
  Result []interface{}
} %}

{% func (p *ModelEdit) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    {% code
      rowPK, err := model.GetStrings(p.Model.Fields, p.Model.GetPK(ps.Logger), p.Result)
      if err != nil {
        panic(err)
      }
    %}
    <h3>Edit <a href="TODO">{%s strings.Join(rowPK, "/") %}</a></h3>
    <em><a href="TODO">{%s p.Model.Name() %}</a></em>
    <div class="spacer"></div>
    <form class="editor" action="TODO" method="post" enctype="application/x-www-form-urlencoded">
      <table>
        <tbody>
          {%- for idx, f := range p.Model.Fields -%}
          <tr>
            <th class="shrink"><label><input type="checkbox" value="true" name="{%s f.Key %}--selected" /> {%s f.Key %}</label></th>
            <td>{%= fieldedit.Any(p.Result[idx], f.Type, f.Nullable(), f.Key) %}</td>
          </tr>
          {%- endfor -%}
        </tbody>
      </table>
      <div class="spacer"></div>
      <button type="submit">Save Changes</button>
      <button type="reset">Reset</button>
    </form>
  </div>
{% endfunc %}

