{% import "github.com/kyleu/admini/app" %}
{% import "github.com/kyleu/admini/app/action" %}
{% import "github.com/kyleu/admini/app/controller/cutil" %}
{% import "github.com/kyleu/admini/app/model" %}
{% import "github.com/kyleu/admini/views/components/fieldedit" %}
{% import "github.com/kyleu/admini/views/layout" %}

{% code type ModelNew struct {
  layout.Basic
  Req *cutil.WorkspaceRequest
  Act *action.Action
  Model *model.Model
  Defaults []interface{}
} %}

{% func (p *ModelNew) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>New {%s p.Model.Name() %}</h3>
    <div class="spacer"></div>
    <form class="editor" action="{%s p.Req.RouteAct(p.Act, 0) %}" method="post" enctype="application/x-www-form-urlencoded">
      <table>
        <tbody>
          {% for idx, f := range p.Model.Fields %}
            <tr>
              <th class="shrink"><label><input type="checkbox" value="true" name="{%s f.Key %}--selected" /> {%s f.Key %}</label></th>
              <td>{%= fieldedit.Any(p.Defaults[idx], f.Type, f.Nullable(), f.Key) %}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="spacer"></div>
      <button type="submit">Save Changes</button>
      <button type="reset">Reset</button>
    </form>
  </div>
{% endfunc %}

