{% import (
  "github.com/kyleu/admini/app"
  "github.com/kyleu/admini/app/action"
  "github.com/kyleu/admini/app/controller/cutil"
  "github.com/kyleu/admini/app/lib/schema/model"
  "github.com/kyleu/admini/views/components"
  "github.com/kyleu/admini/views/layout"
) %}

{% code type Package struct {
  layout.Basic
  Req *cutil.WorkspaceRequest
  Act *action.Action
  Pkg *model.Package
} %}

{% func (p *Package) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right"><a href="#modal-action"><button type="button">Action</button></a></div>
    <h3>{%= components.SVGRef(p.Act.IconWithFallback(), 20, 20, "icon", ps) %}{%s p.Act.Name() %}</h3>
    <em>Package [{%s p.Pkg.Key %}]</em>

    {%- if len(p.Pkg.ChildPackages) > 0 -%}
    <ul>
    {%- for _, pkg := range p.Pkg.ChildPackages -%}
      <li><a href="{%s p.Req.RouteAct(p.Act, 0, pkg.Key) %}">{%s pkg.Name() %}</a></li>
    {%- endfor -%}
    </ul>
    {%- endif -%}

    {%- if len(p.Pkg.ChildModels) > 0 -%}
    <ul>
    {%- for _, m := range p.Pkg.ChildModels -%}
      <li><a href="{%s p.Req.RouteAct(p.Act, 0, m.Key) %}">{%s m.Name() %}</a></li>
    {%- endfor -%}
    </ul>
    {%- endif -%}
  </div>
  {%-= ResultChildren(p.Req, p.Act, 1) -%}
  {%-= ResultDebug(p.Req, p.Act) -%}
{% endfunc %}
