{% import (
  "github.com/kyleu/admini/app"
  "github.com/kyleu/admini/app/action"
  "github.com/kyleu/admini/app/controller/cutil"
  "github.com/kyleu/admini/views/layout"
) %}

{% code type Sources struct {
  layout.Basic
  Req *cutil.WorkspaceRequest
  Act *action.Action
} %}

{% func (p *Sources) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    {%= ActionHeader(p.Act, "Source", ps) %}
    <ul>
      {%- for _, src := range p.Req.Sources -%}
      <li><a href="{%s p.Req.RouteAct(p.Act, 0, src.Key) %}">{%s src.Name() %}</a></li>
      {%- endfor -%}
    </ul>
  </div>
  {%-= ResultChildren(p.Req, p.Act, 1) -%}
  {%-= ResultDebug(p.Req, p.Act) -%}
{% endfunc %}
