{% import (
  "github.com/kyleu/admini/app"
  "github.com/kyleu/admini/app/action"
  "github.com/kyleu/admini/app/controller/cutil"
  "github.com/kyleu/admini/views/layout"
) %}

{% code type Static struct {
  layout.Basic
  Req *cutil.WorkspaceRequest
  Act *action.Action
} %}

{% func (p *Static) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    {%= ActionHeader(p.Act, "Static", ps) %}
  </div>
  <div class="card">
    {%- code ct := p.Act.Config.GetStringOpt("content") -%}
    {%- switch p.Act.Config.GetStringOpt("format") -%}
    {%- case "html" -%}
    {%s= ct %}
    {%- case "text" -%}
    {%s ct %}
    {%- case "code" -%}
    <pre>{%s ct %}</pre>
    {%- default -%}
    {%s ct %}
    {%- endswitch -%}
  </div>
  {%-= ResultChildren(p.Req, p.Act, 1) -%}
  {%-= ResultDebug(p.Req, p.Act) -%}
{% endfunc %}
