{% import (
  "github.com/kyleu/admini/app"
  "github.com/kyleu/admini/app/action"
  "github.com/kyleu/admini/app/controller/cutil"
  "github.com/kyleu/admini/views/components"
  "github.com/kyleu/admini/views/layout"
) %}

{% code type Static struct {
  layout.Basic
  Req *cutil.WorkspaceRequest
  Act *action.Action
} %}

{% func (p *Static) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right"><a href="#modal-action"><button type="button">Action</button></a></div>
    <h3>{%= components.SVGRef(p.Act.IconWithFallback(), 20, 20, "icon", ps) %}{%s p.Act.Name() %}</h3>
    <em>Static</em>
  </div>
  <div class="card">
    {%- code ct := p.Act.Config.GetStringOpt("content") -%}
    {%- switch p.Act.Config.GetStringOpt("format") -%}
    {%- case "html" -%}
    {%s= ct %}
    {%- case "text" -%}
    {%s ct %}
    {%- case "code" -%}
    <pre>{%s ct %}</pre>
    {%- default -%}
    {%s ct %}
    {%- endswitch -%}
  </div>
  {%-= ResultChildren(p.Req, p.Act, 1) -%}
  {%-= ResultDebug(p.Req, p.Act) -%}
{% endfunc %}
