.action-workbench {
  display: flex;
  flex-direction: row;
}

.item .title {
  flex-grow: 1;
}

.action-workbench .remove {
  color: var(--color-foreground-muted);
  margin-top: -4px;
  cursor: pointer;
}

.action-workbench .l {
  padding: 12px;
  width: 60%;
}

.action-workbench .r {
  padding: 12px;
  width: 40%;
}

.action-workbench .r .remove {
  cursor: default;
  opacity: 0;
}

.action-workbench .r .lmdd-clonner .container {
  padding: 0;
}

.action-workbench .r .source {
}

.action-workbench .r .package {
  margin-left: 12px;
}

.action-workbench .r .model {
  margin-left: 24px;
}

@media (max-width: 800px) {
  .action-workbench {
    flex-direction: column-reverse;
  }

  .action-workbench .l {
    width: 100%;
  }

  .action-workbench .r {
    width: 100%;
  }
}
