.action-workbench {
  display: flex;
  flex-direction: row;
}

.item .title {
  flex-grow: 1;
}

.action-workbench .remove {
  color: var(--color-foreground-muted);
  margin-top: -4px;
  cursor: pointer;
}

.action-workbench .l {
  padding: 12px;
  width: 60%;
  transition: width 200ms linear;
}

.action-workbench .l .tracked {
  min-height: 128px;
}

.action-workbench .r {
  padding: 12px;
  width: 40%;
  transition: width 200ms linear;
}

.action-workbench .r .remove {
  cursor: default;
  opacity: 0;
}

.action-workbench .r .container .container {
  padding: 0;
}

.action-workbench .r .package {
  margin-left: 12px;
}

.action-workbench .r .model {
  margin-left: 24px;
}

.action-workbench .r .activity {
  margin-left: 12px;
}

/* small screens */
@media (max-width: 800px) {
  .action-workbench {
    flex-direction: column;
  }

  .action-workbench .l {
    width: 100%;
  }

  .action-workbench .r {
    width: 100%;
  }
}
