html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

#container-body {
  display: flex;
  height: calc(100% - 48px);
}

#content {
  flex-grow: 1;
  overflow: auto;
}
