.drag-container .item {
  border: var(--border);
  /*box-shadow: var(--box-shadow);*/
  margin-top: 12px;
  padding: 12px;
}

.drag-container .content {
  display: flex;
  flex-direction: row;
}

.drag-container .container {
  padding: 12px 0;
}

.drag-container .handle {
  margin-right: 8px;
  cursor: move;
}

.drag-actions {
  height: 24px;
}

.drag-actions .message {
  display: none;
}

.drag-actions .form {
  display: block;
}

.drag-actions.no-changes .message {
  display: block;
}

.drag-actions.no-changes .form {
  display: none;
}
