.editor th label {
  display: block;
}

.editor .radiolabel {
  margin-right: 12px;
}

.editor input[type='date'],
.editor input[type='datetime'],
.editor input[type='datetime-local'],
.editor input[type='email'],
.editor input[type='month'],
.editor input[type='number'],
.editor input[type='password'],
.editor input[type='search'],
.editor input[type='tel'],
.editor input[type='text'],
.editor input[type='url'],
.editor input[type='week'],
.editor input:not([type]),
.editor textarea,
.editor select {
  border: 0.1rem solid #d1d1d1;
  padding: 6px 12px;
  width: 100%;
}

.sql.editor textarea {
  margin-top: var(--padding);
  margin-bottom: var(--padding);
}

.toggle label {
  cursor: pointer;
  display: block;
  width: 100%;
}

.toggle .x {
  display: none;
}

.toggle input[type=checkbox]:checked ~ label {
  display: none;
}

.toggle input[type=checkbox]:checked ~ .x {
  display: block;
}
