#flash-container input:checked ~ * {
  display: none;
}

#flash-container label {
  float: right;
  padding: var(--padding);
  cursor: pointer;
}

#flash-container .flash {
  opacity: 1;
  -webkit-transition: opacity 500ms linear;
  transition: opacity 500ms linear;
}

#flash-container .flash-success {
  color: var(--color-success);
}

#flash-container .flash-error {
  color: var(--color-error);
}
