#flash-container input:checked ~ * {
  display: none;
}

#flash-container label {
  float: right;
  padding: var(--padding);
  cursor: pointer;
}

#flash-container .flash-success {
  color: var(--color-success);
}

#flash-container .flash-error {
  color: var(--color-error);
}
