.menu-container {
  width: 256px;
  min-width: 256px;
  overflow: auto;
  background-color: aliceblue;
}

.menu-container .menu {
  padding: 12px 12px 24px;
}

.menu-container ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.menu-container .item, .menu-container label {
  display: block;
  padding: 4px 0;
  user-select: none;
}

.menu-container .final {
  background-color: antiquewhite;
}

.menu-container .separator {
  margin: 6px 0;
  border-bottom: 1px solid #ddd;
}

.menu-container .label-link {
  float: right;
  margin-right: 6px;
  margin-top: 3px;
}

.menu-container a {
  text-decoration: none;
  color: #000;
}

.menu-container label {
  cursor: pointer;
}

.level-1 .item, .level-1 label {
  padding-left: 8px;
}

.level-2 .item, .level-2 label {
  padding-left: 16px;
}

.level-3 .item, .level-3 label {
  padding-left: 24px;
}

.level-4 .label-item, .level-4 label {
  padding-left: 32px;
}

.level-1, .level-2, .level-3, .level-4 {
  height: 100%;
  max-height: 0;
  overflow: hidden;
}

.menu-container input[type=checkbox]:checked + label + ul {
  max-height: 10000px;
}

.menu-container input[type=checkbox] + label .expand {
  display: inline;
}
.menu-container input[type=checkbox] + label .collapse {
  display: none;
}
.menu-container input[type=checkbox]:checked + label .expand {
  display: none;
}
.menu-container input[type=checkbox]:checked + label .collapse {
  display: inline;
}
