#navbar {
  height: 48px;
  display: flex;
}

#navbar .logo {
  margin: 8px;
}

#navbar .breadcrumbs {
  height: 32px;
  line-height: 48px;
  font-size: 24px;
  flex-grow: 1;
}

#navbar .search-image {
  display: block !important;
}

#navbar .breadcrumbs a {
  text-decoration: none;
  color: #000;
}

#navbar .profile {
  margin: 12px;
}

