#navbar {
  height: 48px;
  display: flex;
  color: var(--color-nav-foreground);
  background-color: var(--color-nav-background);
}

#navbar .logo {
  margin: 8px;
}

#navbar .breadcrumbs {
  height: 40px;
  line-height: 48px;
  font-size: 24px;
  flex-grow: 1;
  overflow: hidden;
}

#navbar .search-image {
  display: block !important;
}

#navbar .breadcrumbs a {
  color: var(--color-nav-foreground);
}

#navbar .profile {
  margin: 12px;
}

#navbar .svg-fill, .nav-svg-fill {
  fill: var(--color-nav-foreground);
}

#navbar .svg-stroke, .nav-svg-stroke {
  stroke: var(--color-nav-foreground);
}

