
.result-table table {
  text-align: left;
  position: relative;
  border: var(--border);
  margin: var(--padding);
}

.result-table tr:hover {
  background-color: var(--color-background-muted);
}

.result-table thead th {
  background-color: var(--color-background);
  position: sticky;
  top: 0;
  z-index: 1;
}

.result-table tbody th {
  background-color: var(--color-background);
  position: sticky;
  left: 0;
  font-weight: normal;
  border-right: var(--border);
}

.result-table .pkcol {
  left: 0;
  z-index: 2;
  border-right: var(--border);
}

.result-table th a {
  display: block;
}

.result-table th {
  vertical-align: top;
  white-space: nowrap;
}

.result-table td {
  vertical-align: top;
  white-space: nowrap;
  max-width: 256px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.result-table .null {
  color: var(--color-foreground-muted);
}
