.result-table {
  overflow-x: auto;
  overflow-y: visible;
  max-width: 100%;
  background: linear-gradient(to right, white 30%, rgba(255, 255, 255, 0)), linear-gradient(to right, rgba(255, 255, 255, 0), white 70%) 0 100%, radial-gradient(farthest-side at 0% 50%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
  background-repeat: no-repeat;
  background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
  background-position: 0 0, 100%, 0 0, 100%;
  background-attachment: local, local, scroll, scroll;
}

@media (prefers-color-scheme: dark) {
  .result-table {
    background: none;
  }
}

.result-table {
  max-height: 80vh;
  padding-bottom: 12px;
}

.result-table table {
  text-align: left;
  position: relative;
}

.result-table thead th {
  background-color: var(--color-background);
  position: sticky;
  top: 0;
  z-index: 1;
}

.result-table tbody th {
  background-color: var(--color-background);
  position: sticky;
  left: 0;
  font-weight: normal;
}

.result-table th {
  vertical-align: top;
  white-space: nowrap;
}

.result-table td {
  vertical-align: top;
  white-space: nowrap;
}

.result-table .null {
  color: var(--color-foreground-muted);
}
