.result-table {
  border-bottom: var(--border);
  border-top: var(--border);
  border-left: var(--border);
  position: relative;
  margin: var(--padding);
}

.result-table tbody tr:hover, .result-table tbody tr:hover th {
  background-color: var(--color-background-muted);
}

.result-table th, .result-table td {
  border-right: var(--border);
}

.result-table th {
  background-color: var(--color-background);
  position: sticky;
  font-weight: normal;
  z-index: 1;
}

.result-table thead th {
  top: 0;
}

.result-table tbody th {
  left: 0;
}

.result-table .pkcol {
  left: 0;
  z-index: 2;
  border-right: var(--border);
}

.result-table .pklink, .result-table .val {
  display: block;
  width: calc(100% - 16px);
  float: left;
}

.result-table th {
  vertical-align: top;
  white-space: nowrap;
}

.result-table td {
  vertical-align: top;
  white-space: nowrap;
  max-width: 256px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.result-table .null {
  color: var(--color-foreground-muted);
}

.result-options .opt {
  float: left;
  margin-right: var(--padding);
}
