table {
  width: 100%;
  border-collapse: collapse;
}

table tbody tr {
  border-top: var(--border);
}


table td, table th {
  padding: var(--padding-small);
}

table th {
  text-align: left;
  font-weight: bold;
}

td.shrink {
  width: 1px;
  white-space: nowrap;
}
