table {
  width: 100%;
  border-collapse: collapse;
}

table tbody tr {
  border-top: var(--border);
}

table td, table th {
  padding: var(--padding-small);
}

table th {
  text-align: left;
  font-weight: bold;
}

table .shrink {
  width: 1px;
  white-space: nowrap;
}

td.overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 0;
  width: 100%;
}
