table {
  border-top: var(--border);
  border-left: var(--border);
  border-collapse: separate;
  border-spacing: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

table tr {
  margin: 0;
  padding: 0;
}

table td, table th {
  border-bottom: var(--border);
  border-right: var(--border);
  padding: var(--padding-small);
  margin: 0;
}

table th {
  margin: 0;
  text-align: left;
  font-weight: bold;
}

table .shrink {
  width: 1px;
  white-space: nowrap;
}

td.overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 0;
  width: 100%;
}
