.mockup {
  cursor: pointer;
  width: 166px;
  height: 126px;
  font-size: 80%;
}

.mockup .mock-link:hover {
  text-decoration: underline;
}

.mockup .mock-nav {
  height: 18px;
}

.mockup .mock-menu {
  float: left;
  width: 30px;
  height: 102px;
  padding-left: 4px;
}
.mockup .mock-main {
  padding: 4px;
  height: 102px;
}
.mockup .mock-main ul {
  margin-top: var(--padding-small);
}
