body.theme-light #navbar {
  background-color: #4f9abd;
}

body.theme-light #navbar a {
  text-decoration: none;
}

body.theme-light .menu-container {
  background-color: aliceblue;
}

/* Search */

body.theme-light .search input {
  color: #000;
}

body.theme-light .search input + div svg {
  stroke: #000;
}
