:root {
  --padding: 12px;
  --padding-small: 6px;
  --menu-padding: 12px;
}

:root {
  --border: 1px solid #ddd;
  --link-text-decoration: none;

  --color-foreground: black;
  --color-background: white;
  --color-link: #333;
  --color-link-visited: #666;

  --color-success: green;
  --color-error: red;

  --color-nav-foreground: black;
  --color-nav-background: #4f9abd;

  --color-menu-foreground: black;
  --color-menu-background: aliceblue;
  --color-menu-final: antiquewhite;

  --color-modal-backdrop: rgba(77, 77, 77, .7);
}

:root {
  --chroma-fg: #272822;
  --chroma-bg: #fafafa;
  --chroma-highlight-bg: #e1e1e1;
  --chroma-keyword: #00a8c8;
  --chroma-namespace: #f92672;
  --chroma-line-numbers: #7f7f7f;
  --chroma-comment: #75715e;
  --chroma-literal: #ae81ff;
  --chroma-literal-string: #d88200;
  --chroma-literal-escape: #8045ff;
  --chroma-name: #111111;
  --chroma-attribute: #75af00;
  --chroma-class: #75af00;
  --chroma-decorator: #75af00;
  --chroma-exception: #75af00;
  --chroma-function: #75af00;
  --chroma-other: #75af00;
  --chroma-punctuation: #111111;
}
