.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.spacer {
  height: 24px;
}

.expand, .collapse {
  float: left;
  margin-top: 2px;
  margin-right: 4px;
}

.sort-title {
  padding-right: 24px;
}

.sort-icon {
  display: inline-block;
  float: right;
  height: 18px;
  width: 18px;
}

.sort-hover .sort-icon {
  display: none;
}

.sort-hover:hover .sort-icon {
  display: block;
}

.inline-icon {
  float: left;
  margin-right: 4px;
}

.svg-fill {
  fill: var(--color-foreground);
}

.svg-stroke {
  stroke: var(--color-foreground);
}
