.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.hidden {
  opacity: 0;
}

.spacer {
  height: 16px;
}

.no-padding {
  padding: 0 !important;
}

.margin {
  margin: var(--padding);
}

.pre {
  font-family: monospace, monospace;
  white-space: pre;
}

.expand, .collapse {
  float: left;
  margin-top: 2px;
  margin-right: 4px;
}

.sort-title {
  padding-right: 24px;
}

.sort-icon {
  display: inline-block;
  float: right;
  height: 18px;
  width: 18px;
}

.sort-hover .sort-icon {
  display: none;
}

.sort-hover:hover .sort-icon {
  display: block;
}

.svg-fill {
  fill: currentColor;
}

.svg-stroke {
  stroke: currentColor;
}

.error-owned {
  color: green;
}

.error-location {
  margin-left: 16px;
  margin-bottom: 8px;
}

.icon {
  float: left;
  margin-right: 4px;
  margin-top: 2px;
}

.icon-block {
  margin-right: 4px;
}

.icon-choice {
  /*display: flex;*/
}

.icon-choice input {
  display: none;
}

.icon-choice input:checked ~ * {
  border: 3px solid var(--color-highlight);
}

.scroll-x {
  overflow-x: auto;
}
