:root {
  --padding: 12px;
  --padding-small: 6px;
  --menu-padding: 8px;
  --nav-height: 48px;
}

/* light theme */
:root {
  --border: 1px solid #dddddd;
  --box-shadow: 0 4px 4px 0 rgba(0,0,0,0.12),0 1px 12px 0 rgba(0,0,0,0.12),0 4px 4px -1px rgba(0,0,0,0.12);
  --link-text-decoration: none;

  --color-foreground: #000000;
  --color-foreground-muted: #999999;
  --color-background: #ffffff;
  --color-background-muted: #eeeeee;

  --color-highlight: #008000;
  --color-link: #2d414e;
  --color-link-visited: #406379;

  --color-nav-foreground: #000000;
  --color-nav-background: #4f9abd;

  --color-menu-foreground: #000000;
  --color-menu-background: #f0f8ff;
  --color-menu-background-selected: #faebd7;

  --color-modal-backdrop: rgba(77, 77, 77, .7);

  --color-success: #008000;
  --color-error: red;
}

/* dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --border: 1px solid #666666;
    --box-shadow: 0 4px 4px 0 rgba(255,255,255,0.12),0 1px 12px 0 rgba(255,255,255,0.12),0 4px 4px -1px rgba(255,255,255,0.12);
    --link-text-decoration: none;

    --color-foreground: #ffffff;
    --color-foreground-muted: #999999;
    --color-background: #121212;
    --color-background-muted: #333333;

    --color-highlight: #008000;
    --color-link: #dddddd;
    --color-link-visited: #aaaaaa;

    --color-nav-foreground: #ffffff;
    --color-nav-background: #2d414e;

    --color-menu-foreground: #dddddd;
    --color-menu-background: #171f24;
    --color-menu-background-selected: #333333;

    --color-modal-backdrop: rgba(33, 33, 33, .7);

    --color-success: #008000;
    --color-error: red;
  }
}

/* light chroma */
.chroma {
  --chroma-fg: #272822;
  --chroma-bg: #fafafa;
  --chroma-highlight-bg: #e1e1e1;
  --chroma-keyword: #00a8c8;
  --chroma-namespace: #f92672;
  --chroma-line-numbers: #7f7f7f;
  --chroma-comment: #75715e;
  --chroma-literal: #ae81ff;
  --chroma-literal-string: #d88200;
  --chroma-literal-escape: #8045ff;
  --chroma-name: #111111;
  --chroma-attribute: #75af00;
  --chroma-class: #75af00;
  --chroma-decorator: #75af00;
  --chroma-exception: #75af00;
  --chroma-function: #75af00;
  --chroma-other: #75af00;
  --chroma-punctuation: #111111;
}

/* dark chroma */
@media (prefers-color-scheme: dark) {
  .chroma {
    --chroma-fg: #f8f8f2;
    --chroma-bg: #282a36;
    --chroma-highlight-bg: #282a36;
    --chroma-keyword: #ff79c6;
    --chroma-namespace: #ff79c6;
    --chroma-line-numbers: #cdcdcd;
    --chroma-comment: #6272a4;
    --chroma-literal: #f1fa8c;
    --chroma-literal-string: #f1fa8c;
    --chroma-literal-escape: #f1fa8c;
    --chroma-name: f8f8f2;
    --chroma-attribute: #50fa7b;
    --chroma-class: #50fa7b;
    --chroma-decorator: #f8f8f2;
    --chroma-exception: #f8f8f2;
    --chroma-function: 50fa7b;
    --chroma-other: #f8f8f2;
    --chroma-punctuation: f8f8f2;
  }
}
