{% import "github.com/kyleu/admini/app" %}
{% import "github.com/kyleu/admini/app/auth" %}
{% import "github.com/kyleu/admini/app/controller/cutil" %}
{% import "github.com/kyleu/admini/app/util" %}
{% import "github.com/kyleu/admini/views/layout" %}

{% code type Detail struct {
  layout.Basic
  Provider *auth.Provider
  Session interface{}
} %}

{% func (p *Detail) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%s p.Provider.Title %} session</h3>
    <pre>{%s util.ToJSON(p.Session) %}</pre>
  </div>
{% endfunc %}
