{% import "github.com/kyleu/admini/app" %}
{% import "github.com/kyleu/admini/app/controller/cutil" %}
{% import "github.com/kyleu/admini/app/field" %}
{% import "github.com/kyleu/admini/app/model" %}
{% import "github.com/kyleu/admini/app/util" %}
{% import "github.com/kyleu/admini/views/components/fieldview" %}
{% import "github.com/kyleu/admini/views/vutil" %}

{% func ResultRow(ctxT string, ctxK string, idx int, row []interface{}, fields field.Fields, m *model.Model, indent int, showNum bool, params *util.Params, as *app.State, ps *cutil.PageState) %}{% stripspace %}
  {%= vutil.Indent(true, indent) %}
  <tr>
    {% if showNum %}
      {%= vutil.Indent(true, indent + 1) %}
      <th><em>{%d idx + 1 %}</em></th>
    {% endif %}

    {% for fIdx, f := range fields %}
      {%code col := row[fIdx] %}
      {%= vutil.Indent(true, indent + 1) %}
      <td>
        {% if m != nil && m.IsPK(f.Key, ps.Logger) %}
          {% code
            rowPK, err := model.GetStrings(fields, m.GetPK(ps.Logger), row)
            if err != nil {
              panic(err)
            }
            link := append(append(m.Path(), `v`), rowPK...)
          %}
          <a href="{%= vutil.WorkspaceLink(as, ctxT, ctxK, link...) %}">
            {%= fieldview.Any(col, f.Type) %}
          </a>
        {% else %}
          {%= fieldview.Any(col, f.Type) %}
        {% endif %}

        {% if m != nil %}
          {% for _, rel := range m.ApplicableRelations(f.Key) %}
            {% code
              rowFK, err := model.GetStrings(fields, rel.SourceFields, row)
              if err != nil {
                panic(err)
              }
              link := append(append(rel.TargetPkg, rel.TargetModel, `v`), rowFK...)
            %}
            {% space %}
            <a href="{%= vutil.WorkspaceLink(as, ctxT, ctxK, link...) %}" title="{%s rel.String() %}">REL</a>
          {% endfor %}
        {% endif %}
      </td>
    {% endfor %}
    {%= vutil.Indent(true, indent) %}
  </tr>
{% endstripspace %}{% endfunc %}
