{% import "fmt" %}
{% import "github.com/kyleu/admini/app/controller/cutil" %}
{% import "github.com/kyleu/admini/app/result" %}
{% import "github.com/kyleu/admini/app/util" %}
{% import "github.com/kyleu/admini/views/components" %}
{% import "github.com/kyleu/admini/views/vutil" %}

{% func ResultTable(r *result.Result, indent int, showNum bool, params *util.Params, ps *cutil.PageState) %}{% stripspace %}
  {%= vutil.Indent(true, indent) %}
  <div class="result-table">
    {%= vutil.Indent(true, indent + 1) %}
    <table>
      {%= vutil.Indent(true, indent + 2) %}
      <thead>
        {%= vutil.Indent(true, indent + 3) %}
        <tr>
          {% if showNum %}
            {%= vutil.Indent(true, indent + 4) %}
            <th></th>
          {% endif %}
          {% for fIdx, field := range r.Fields %}
            {%= vutil.Indent(true, indent + 4) %}
            {% code tooltip := fmt.Sprintf(`%s: ordinal %d (%s)`, field.Key, fIdx, field.Type) %}
            {%= components.TableHeader("x", field.Key, field.Key, params, ps.URL, tooltip, field.Type.Sortable(), ps) %}
          {% endfor %}
        {%= vutil.Indent(true, indent + 3) %}
        </tr>
      {%= vutil.Indent(true, indent + 2) %}
      </thead>
      {%= vutil.Indent(true, indent + 2) %}
      <tbody>
        {% for rIdx, row := range r.Data %}
          {%= ResultRow(rIdx, row, r.Fields, indent + 3, showNum, params, ps) %}
        {% endfor %}
        {% if params.HasNextPage(r.Count) || params.HasPreviousPage() %}
          {%= vutil.Indent(true, indent + 3) %}
          <tr>
            <td colspan="{%d len(r.Fields) %}">{%= components.Pagination("x", r.Count, params, ps.URL) %}</td>
          </tr>
        {% endif %}
      {%= vutil.Indent(true, indent + 2) %}
      </tbody>
    {%= vutil.Indent(true, indent + 1) %}
    </table>
  {%= vutil.Indent(true, indent) %}
  </div>
{% endstripspace %}{% endfunc %}
