{% import (
  "admini.dev/admini/app/action"
  "admini.dev/admini/app/controller/cutil"
  "admini.dev/admini/app/lib/schema/field"
  "admini.dev/admini/app/lib/schema/model"
  "admini.dev/admini/app/qualify"
  "admini.dev/admini/views/components"
  "admini.dev/admini/views/components/fieldview"
  "admini.dev/admini/views/vutil"
) %}

{% func WSRow(ws *cutil.WorkspaceRequest, act *action.Action, idx int, row []any, fields field.Fields, m *model.Model, indent int, showNum bool) %}{% stripspace %}
  {%= vutil.Indent(true, indent) %}
  <tr>
    {% if showNum %}
      {%= vutil.Indent(true, indent + 1) %}
      <th class="shrink"><em>{%d idx + 1 %}</em></th>
    {% endif %}

    {% for fIdx, f := range fields %}
      {% if m != nil && m.IsPK(f.Key, ws.PS.Logger) %}
        {%= row(ws, act, idx, row, fields, m, fIdx, f, indent, showNum, true) %}
      {% endif %}
    {% endfor %}
    {% for fIdx, f := range fields %}
      {% if m == nil || !m.IsPK(f.Key, ws.PS.Logger) %}
        {%= row(ws, act, idx, row, fields, m, fIdx, f, indent, showNum, false) %}
      {% endif %}
    {% endfor %}
    {%= vutil.Indent(true, indent + 1) %}
    <td class="tfill"></td>
  {%= vutil.Indent(true, indent) %}
  </tr>
{% endstripspace %}{% endfunc %}

{% func row(ws *cutil.WorkspaceRequest, act *action.Action, idx int, row []any, fields field.Fields, m *model.Model, fIdx int, f *field.Field, indent int, showNum bool, header bool) %}{% stripspace %}
  {%code col := row[fIdx] %}
  {%= vutil.Indent(true, indent + 1) %}
  {% if header %}<th>{% else %}<td>{% endif %}
    {% if m == nil %}
      {%= fieldview.Any(col, f.Type) %}
    {% else %}
      {% code rels := m.ApplicableRelations(f.Key) %}
      {% if len(rels) == 0 %}
        {%= cell(ws, act, row, fields, m, f, col) %}
      {% else %}
        {% for _, rel := range rels %}
          {% code
            rowFK, err := model.GetStrings(fields, rel.SourceFields, row)
            if err != nil {
              panic(err)
            }
            src := act.Config["source"]
            if act.TypeKey == action.TypeAll.Key {
              src = ws.Path[0]
            }
            req := qualify.NewRequest("model", "view", "source", src, "model", rel.Path(), "keys", rowFK)
            quals, err := qualify.Qualify(req, ws.Project.Actions, ws.Schemata)
            if err != nil {
              panic(err)
            }
          %}
          {% if len(quals) == 0 %}
            {%= cell(ws, act, row, fields, m, f, col) %}
          {% else %}
            <div class="two-pane">
              <div class="l">{%= cell(ws, act, row, fields, m, f, col) %}</div>
              <div class="r">
                {% for _, q := range quals %}
                  {% space %}
                  <a href="{%s ws.Route(q.Link()...) %}" title="{%s q.String() %}" class="rel">{%= components.SVGRef(q.Icon, 16, 16, "", ws.PS) %}</a>
                {% endfor %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endif %}
  {% if !header %}</td>{% else %}</th>{% endif %}
{% endstripspace %}{% endfunc %}

{% func cell(ws *cutil.WorkspaceRequest, act *action.Action, row []any, fields field.Fields, m *model.Model, f *field.Field, col any) %}{% stripspace %}
  {% if m.IsPK(f.Key, ws.PS.Logger) %}
    {% code
      rowPK, err := model.GetStrings(fields, m.GetPK(ws.PS.Logger), row)
      if err != nil {
        panic(err)
      }
      link := append([]string{`v`}, rowPK...)
    %}
    <a href="{%s ws.RouteAct(act, 0, link...) %}" class="pklink">
      {%= fieldview.Any(col, f.Type) %}
    </a>
  {% else %}
    {%= fieldview.Any(col, f.Type) %}
  {% endif %}
{% endstripspace %}{% endfunc %}
