{% import "fmt" %}
{% import "strings" %}
{% import "github.com/kyleu/admini/app" %}
{% import "github.com/kyleu/admini/app/action" %}
{% import "github.com/kyleu/admini/app/controller/cutil" %}
{% import "github.com/kyleu/admini/app/model" %}
{% import "github.com/kyleu/admini/views/components/fieldedit" %}
{% import "github.com/kyleu/admini/views/layout" %}

{% code type Edit struct {
  layout.Basic
  Req *cutil.WorkspaceRequest
  Act *action.Action
  Model *model.Model
  Result []interface{}
} %}

{% func (p *Edit) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    {% code
      rowPK, err := model.GetStrings(p.Model.Fields, p.Model.GetPK(ps.Logger), p.Result)
      if err != nil {
        panic(err)
      }
      confirm := fmt.Sprintf("Are you sure you wish to delete %s [%s]?", p.Model.Name(), strings.Join(rowPK, ":"))
    %}
    <div class="right"><a href="{%s p.Req.RouteAct(p.Act, 1 + len(rowPK), append([]string{`d`}, rowPK...)...) %}" onclick="return confirm('{%s confirm %}');">Delete</a></div>
    <h3>Edit <a href="TODO">{%s strings.Join(rowPK, "/") %}</a></h3>
    <em><a href="TODO">{%s p.Model.Name() %}</a></em>
    <form class="editor mt" action="{%s p.Req.RouteAct(p.Act, 0) %}" method="post" enctype="application/x-www-form-urlencoded">
      <table>
        <tbody>
          {%- for idx, f := range p.Model.Fields -%}
          <tr>
            <th class="shrink"><label><input type="checkbox" value="true" name="{%s f.Key %}--selected" /> {%s f.Key %}</label></th>
            <td>{%= fieldedit.Any(p.Result[idx], f.Type, f.Key) %}</td>
          </tr>
          {%- endfor -%}
        </tbody>
      </table>
      <div class="mt">
        <button type="submit" class="mt">Save Changes</button>
        <button type="reset">Reset</button>
      </div>
    </form>
  </div>
{% endfunc %}

