{% import (
  "admini.dev/app"
  "admini.dev/app/action"
  "admini.dev/app/controller/cutil"
  "admini.dev/app/lib/schema/model"
  "admini.dev/views/components"
  "admini.dev/views/layout"
  "admini.dev/views/vaction"
) %}

{% code type Enum struct {
  layout.Basic
  Req *cutil.WorkspaceRequest
  Act *action.Action
  Model *model.Model
  Refs model.Relationships
} %}

{% func (p *Enum) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    {%= vaction.ActionHeader(p.Act, "Enum [" + p.Model.Name() + "] (" + p.Model.Type.String() + ")", ps) %}
    <a href="#modal-model"><button type="button">Model</button></a>
  </div>

  <div class="card">
    <h3>Values</h3>
    <ul>
      {%- for _, f := range p.Model.Fields -%}
      <li>{%s f.Key %} <em>{%s f.Description() %}</em></li>
      {%- endfor -%}
    </ul>
  </div>

  {%- if len(p.Refs) > 0 -%}
  <div class="card">
    <h3>References</h3>
    <ul>
      {%- for _, ref := range p.Refs -%}
      <li>{%v ref %}</li>
      {%- endfor -%}
    </ul>
  </div>
  {%- endif -%}

  {%= components.JSONModal("model", "Model JSON", p.Model, 1) %}
  {%-= vaction.ResultChildren(p.Req, p.Act, 1) -%}
  {%-= vaction.ResultDebug(p.Req, p.Act) -%}
{% endfunc %}
