{% import (
  "github.com/kyleu/admini/app"
  "github.com/kyleu/admini/app/action"
  "github.com/kyleu/admini/app/controller/cutil"
  "github.com/kyleu/admini/app/model"
  "github.com/kyleu/admini/views/components"
  "github.com/kyleu/admini/views/layout"
  "github.com/kyleu/admini/views/vaction"
) %}

{% code type Enum struct {
  layout.Basic
  Req *cutil.WorkspaceRequest
  Act *action.Action
  Model *model.Model
  Refs model.Relationships
} %}

{% func (p *Enum) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right"><a href="#modal-action"><button type="button">Action</button></a></div>
    <h3>{%= components.SVGRef(p.Act.IconWithFallback(), 20, 20, "icon", ps) %}{%s p.Act.Name() %}</h3>
    <em>Model [{%s p.Model.Name() %}] ({%s p.Model.Type.String() %})</em>
    <a href="#modal-model"><button type="button">Model</button></a>
  </div>

  <div class="card">
    <h3>Values</h3>
    <ul>
      {%- for _, f := range p.Model.Fields -%}
      <li>{%s f.Key %} <em>{%s f.Description() %}</em></li>
      {%- endfor -%}
    </ul>
  </div>

  {%- if len(p.Refs) > 0 -%}
  <div class="card">
    <h3>References</h3>
    <ul>
      {%- for _, ref := range p.Refs -%}
      <li>{%v ref %}</li>
      {%- endfor -%}
    </ul>
  </div>
  {%- endif -%}

  {%= components.JSONModal("model", "Model JSON", p.Model, 1) %}
  {%-= vaction.ResultChildren(p.Req, p.Act, 1) -%}
  {%-= vaction.ResultDebug(p.Req, p.Act) -%}
{% endfunc %}
