{% import (
  "admini.dev/app"
  "admini.dev/app/action"
  "admini.dev/app/controller/cutil"
  "admini.dev/app/lib/filter"
  "admini.dev/app/lib/schema/model"
  "admini.dev/app/result"
  "admini.dev/views/components"
  "admini.dev/views/layout"
  "admini.dev/views/vaction"
  "admini.dev/views/vresult"
) %}

{% code type List struct {
  layout.Basic
  Req *cutil.WorkspaceRequest
  Act *action.Action
  Model *model.Model
  Options *filter.Options
  Result *result.Result
} %}

{% func (p *List) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card card-sticky">
    {%= vaction.ActionHeader(p.Act, "Model [" + p.Model.Name() + "] (" + p.Model.Type.String() + ")", ps) %}
    <a href="#modal-model"><button type="button">Model</button></a>
    <a href="#modal-result"><button type="button">Result</button></a>
    <a href="{%s p.Req.RouteAct(p.Act, 0, `new`) %}"><button type="button">Create New</button></a>
    <a href="{%s p.Req.RouteAct(p.Act, 0, `export`) %}"><button type="button">Export</button></a>
  </div>

  <div class="card card-sticky">
    {%= vresult.WSOptions(p.Req, p.Act, p.Result, p.Model, 2, p.Options) %}
  </div>
  {%= vresult.WSTable(p.Req, p.Act, p.Result, p.Model, nil, 1, false, p.Options) %}

  {%-= vaction.ResultChildren(p.Req, p.Act, 1) -%}
  {%-= vaction.ResultDebug(p.Req, p.Act) -%}
  {%= components.JSONModal("model", "Model JSON", p.Model, 1) %}
  {%= components.JSONModal("result", "Result", p.Result, 1) %}
  {%= vresult.WSModals(p.Req, p.Act, p.Result, p.Model, 2, p.Options) %}
{% endfunc %}
