{% import "github.com/kyleu/admini/app" %}
{% import "github.com/kyleu/admini/app/controller/cutil" %}
{% import "github.com/kyleu/admini/app/schema" %}
{% import "github.com/kyleu/admini/views/components" %}

{% func ModelDetail(schemaKey string, idx int, model *schema.Model, as *app.State, ps *cutil.PageState) %}
  {% code ps.AddIcon(model.Type.Key) %}
  <li>
    <input id="model-list-{%d idx %}" type="checkbox" hidden />
    <label for="model-list-{%d idx %}">
      <div class="right"><em>{%s model.Pkg.String() %}</em></div>
      {%= components.ExpandCollapse(3) %}
      {%s model.Key %}
    </label>
    <div class="bd">
      <div>
        <a href="{%s as.Route(`workspace.model`, `key`, schemaKey, `model`, model.Key) %}">View</a>
      </div>
      {% if len(model.Fields) == 0 %}
      <div>No fields in {%s model.Type.String() %}</div>
      {% else %}
      <table>
        <caption>{%d len(model.Fields) %} fields in {%s model.Type.String() %}</caption>
        <thead>
          <tr>
            <th>Key</th>
            <th>Type</th>
            <th title="nullable">∅</th>
            <th title="read-only">RO</th>
            <th>Metadata</th>
          </tr>
        </thead>
        <tbody>
        {% for _, f := range model.Fields %}
          <tr>
            <td>{%s f.Key %}</td>
            <td>{%s f.Type.String() %}</td>
            <td>{%v f.Nullable %}</td>
            <td>{%v f.ReadOnly %}</td>
            <td>{%s f.Key %}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
  </li>
{% endfunc %}
