{% import (
  "admini.dev/admini/app"
  "admini.dev/admini/app/action"
  "admini.dev/admini/app/controller/cutil"
  "admini.dev/admini/app/lib/schema/model"
  "admini.dev/admini/views/components/fieldedit"
  "admini.dev/admini/views/layout"
) %}

{% code type New struct {
  layout.Basic
  Req *cutil.WorkspaceRequest
  Act *action.Action
  Model *model.Model
  Defaults []interface{}
} %}

{% func (p *New) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>New {%s p.Model.Name() %}</h3>
    <form class="mt" action="{%s p.Req.RouteAct(p.Act, 0) %}" method="post" enctype="application/x-www-form-urlencoded">
      <table>
        <tbody>
          {% for idx, f := range p.Model.Fields %}
            <tr>
              <th class="shrink"><label><input type="checkbox" value="true" name="{%s f.Key %}--selected" /> {%s f.Key %}</label></th>
              <td>{%= fieldedit.Any(p.Defaults[idx], f.Type, f.Key) %}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="mt">
        <button type="submit">Save Changes</button>
        <button type="reset">Reset</button>
      </div>
    </form>
  </div>
{% endfunc %}

