{% import (
  "strings"
  "github.com/kyleu/admini/app"
  "github.com/kyleu/admini/app/action"
  "github.com/kyleu/admini/app/controller/cutil"
  "github.com/kyleu/admini/app/filter"
  "github.com/kyleu/admini/app/model"
  "github.com/kyleu/admini/app/qualify"
  "github.com/kyleu/admini/app/util"
  "github.com/kyleu/admini/views/components"
  "github.com/kyleu/admini/views/components/fieldview"
  "github.com/kyleu/admini/views/layout"
  "github.com/kyleu/admini/views/vresult"
) %}

{% code type View struct {
  layout.Basic
  Req *cutil.WorkspaceRequest
  Act *action.Action
  Model *model.Model
  Result []interface{}
} %}

{% func (p *View) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    {%- code
      rowPK, err := model.GetStrings(p.Model.Fields, p.Model.GetPK(ps.Logger), p.Result)
      if err != nil {
        panic(err)
      }
    -%}
    <div class="right"><a href="{%s p.Req.RouteAct(p.Act, 1 + len(rowPK), append([]string{`x`}, rowPK...)...) %}">Edit</a></div>
    <h3>{%= components.SVGRef(p.Act.IconWithFallback(), 20, 20, "icon", ps) %}{%s strings.Join(rowPK, "/") %}</h3>
    <a href="{%s p.Req.RouteAct(p.Act, len(rowPK) + 1) %}"><em>{%s p.Model.Name() %}</em></a>
  </div>
  <div class="card">
    <table>
      <tbody>
        {%- for idx, f := range p.Model.Fields -%}
        <tr>
          <th class="shrink">{%s f.Name() %}</th>
          <td>
            {%= fieldview.Any(p.Result[idx], f.Type) %}
            {%- for _, rel := range p.Model.ApplicableRelations(f.Key) -%}
            {%- code
              results, err := qualify.Handle(rel, p.Act, p.Req, p.Model, p.Result)
              if err != nil {
                panic(err)
              }
            -%}
            {%- for _, r := range results -%}
            <a href="{%s p.Req.Route(r.String()) %}">{%= components.SVGRef(r.Icon, 16, 16, ``, ps) %}</a>
            {%- endfor -%}
            {%- for _, r := range results -%}
            <div>
              {%- code
                // TODO: Replace with actual table, you've already got the model and data
              -%}
              {%= vresult.WSTable(p.Req, r.Action, r.ToResult(), r.Model, nil, 4, false, &filter.Options{}) %}
              <pre>{%s util.ToJSON(r) %}</pre>
            </div>
            {%- endfor -%}
            {%- endfor -%}
          </td>
        </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
  {%- if len(p.Model.References) > 0 -%}
  <div class="card">
    <h3>References</h3>
    <ul class="accordion">
      {%- for _, r := range p.Model.References -%}
      <li>
        <input id="{%s r.Key %}-count" type="checkbox" hidden />
        <label for="{%s r.Key %}-count">{%= components.ExpandCollapse(3, ps) %} {%s r.String() %}</label>
        <div class="bd">
          <div>TODO</div>
        </div>
      </li>
      {%- endfor -%}
    </ul>
  </div>
  {%- endif -%}
{% endfunc %}

