{% import "strings" %}
{% import "github.com/kyleu/admini/app" %}
{% import "github.com/kyleu/admini/app/action" %}
{% import "github.com/kyleu/admini/app/controller/cutil" %}
{% import "github.com/kyleu/admini/app/model" %}
{% import "github.com/kyleu/admini/app/util" %}
{% import "github.com/kyleu/admini/views/components" %}
{% import "github.com/kyleu/admini/views/components/fieldview" %}
{% import "github.com/kyleu/admini/views/layout" %}

{% code type View struct {
  layout.Basic
  Req *cutil.WorkspaceRequest
  Act *action.Action
  Model *model.Model
  ParamSet util.ParamSet
  Result []interface{}
} %}

{% func (p *View) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    {%- code
      rowPK, err := model.GetStrings(p.Model.Fields, p.Model.GetPK(ps.Logger), p.Result)
      if err != nil {
        panic(err)
      }
    -%}
    <div class="right"><a href="{%s p.Req.RouteAct(p.Act, 1 + len(rowPK), append([]string{`x`}, rowPK...)...) %}">Edit</a></div>
    <h3>{%= components.SVGRef(p.Act.IconWithFallback(), 20, 20, "icon", ps) %}{%s strings.Join(rowPK, "/") %}</h3>
    <a href="{%s p.Req.RouteAct(p.Act, len(rowPK) + 1) %}"><em>{%s p.Model.Name() %}</em></a>
  </div>
  <table class="margin">
    <tbody>
      {%- for idx, f := range p.Model.Fields -%}
      <tr>
        <th class="shrink">{%s f.Key %}</th>
        <td class="overflow">
          {%= fieldview.Any(p.Result[idx], f.Type) %}
          {%- for _, rel := range p.Model.ApplicableRelations(f.Key) -%}
          {%- code
            rowFK, err := model.GetStrings(p.Model.Fields, rel.SourceFields, p.Result)
            if err != nil {
              panic(err)
            }
            src := p.Act.Config["source"]
            if p.Act.Type == action.TypeAll {
              src = p.Req.Path[0]
            }
            req := action.NewRequest("model", "view", "source", src, "model", rel.Path(), "keys", rowFK)
            quals, err := action.Qualify(req, p.Req.Project.Actions, p.Req.Schemata)
            if err != nil {
              panic(err)
            }
          -%}
          {%- for _, q := range quals -%}
          <a href="{%s p.Req.Route(q.Link()...) %}" title="{%s rel.String() %}">{%= components.SVGRef(q.Icon, 16, 16, "", ps) %}</a>
          {%- endfor -%}
          {%- endfor -%}
        </td>
      </tr>
      {%- endfor -%}
    </tbody>
  </table>
  {%- if len(p.Model.References) > 0 -%}
  <div class="card">
    <h3>References</h3>
    <ul class="accordion">
      {%- for _, r := range p.Model.References -%}
      <li>
        <input id="{%s r.Key %}-count" type="checkbox" hidden />
        <label for="{%s r.Key %}-count">{%= components.ExpandCollapse(3, ps) %} {%s r.String() %}</label>
        <div class="bd">
          <div>TODO</div>
        </div>
      </li>
      {%- endfor -%}
    </ul>
  </div>
  {%- endif -%}
{% endfunc %}

