{% import (
  "strings"

  "admini.dev/admini/app"
  "admini.dev/admini/app/action"
  "admini.dev/admini/app/controller/cutil"
  "admini.dev/admini/app/lib/schema/model"
  "admini.dev/admini/app/qualify"
  "admini.dev/admini/views/components"
  "admini.dev/admini/views/components/fieldview"
  "admini.dev/admini/views/layout"
) %}

{% code type View struct {
  layout.Basic
  Req *cutil.WorkspaceRequest
  Act *action.Action
  Model *model.Model
  Result []any
} %}

{% func (p *View) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    {%- code
      rowPK, err := model.GetStrings(p.Model.Fields, p.Model.GetPK(ps.Logger), p.Result)
      if err != nil {
        panic(err)
      }
    -%}
    <div class="right"><a href="{%s p.Req.RouteAct(p.Act, 1 + len(rowPK), append([]string{`x`}, rowPK...)...) %}"><button>Edit</button></a></div>
    <h3>{%= components.SVGRef(p.Act.IconWithFallback(), 20, 20, "icon", ps) %}{%s strings.Join(rowPK, "/") %}</h3>
    <a href="{%s p.Req.RouteAct(p.Act, len(rowPK) + 1) %}"><em>{%s p.Model.Name() %}</em></a>
  </div>
  <div class="card">
    <table>
      <tbody>
        {%- for idx, f := range p.Model.Fields -%}
        <tr>
          <th class="shrink">{%s f.Name() %}</th>
          <td>
            {%= fieldview.Any(p.Result[idx], f.Type) %}
            {%- for _, rel := range p.Model.ApplicableRelations(f.Key) -%}
            {%- code
              quals, err := qualify.Handle(rel, p.Act, p.Req, p.Model, p.Result)
              if err != nil {
                panic(err)
              }
            -%}
            {%- for _, q := range quals -%}
            <a href="{%s p.Req.Route(q.String()) %}" title="{%s q.Help() %}">{%= components.SVGRef(q.Icon, 16, 16, ``, ps) %}</a>
            {%- endfor -%}
            {%- endfor -%}
          </td>
        </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
  {%= viewReferences(p.Model.References, ps) %}
{% endfunc %}

{% func viewReferences(refs model.References, ps *cutil.PageState) %}
  {%- if len(refs) > 0 -%}
  <div class="card">
    <h3>References</h3>
    <ul class="accordion">
      {%- for _, r := range refs -%}
      <li>
        <input id="{%s r.Key %}-count" type="checkbox" hidden />
        <label for="{%s r.Key %}-count">{%= components.ExpandCollapse(3, ps) %} {%s r.String() %}</label>
        <div class="bd-animated"><div><div>
          <noscript>
            <style>.jsrequired { display: none } </style>
            <a href="">View {%s r.String() %}</a> (or enable JavaScript)
          </noscript>
          <div class="jsrequired">
            <div class="relationship" data-key="{%s r.Key %}" data-pkg="{%s r.SourcePkg.String() %}" data-model="{%s r.SourceModel %}" data-fields="{%s strings.Join(r.SourceFields, `//`) %}">Loading...</div>
            <em>(nah, not really; soon though)</em>
          </div>
        </div></div></div>
      </li>
      {%- endfor -%}
    </ul>
  </div>
  {%- endif -%}
{% endfunc %}
