<!-- Content managed by Project Forge, see [projectforge.md] for details. -->
{% import (
  "admini.dev/app"
  "admini.dev/app/util"
  "admini.dev/app/controller/cutil"
  "admini.dev/views/components"
  "admini.dev/views/layout"
) %}

{% code type Index struct { layout.Basic } %}

{% func (p *Index) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGRefIcon(`app`, ps) %}{%s util.AppName %}</h3>
    <p>Explore and manage your data as fast and easily as possible. Supports PostgreSQL, MySQL, and SQLite data sources, and provides a lightning-fast web interface</p>
    <p>
      <a href="/download"><button>Download</button></a>
      <a href="https://github.com/kyleu/admini"><button>Source Code</button></a>
    </p>
  </div>
{% endfunc %}
