{% import "github.com/kyleu/admini/app" %}
{% import "github.com/kyleu/admini/app/controller/cutil" %}
{% import "github.com/kyleu/admini/app/result" %}
{% import "github.com/kyleu/admini/app/model" %}
{% import "github.com/kyleu/admini/app/util" %}
{% import "github.com/kyleu/admini/views/components/fieldview" %}
{% import "github.com/kyleu/admini/views/layout" %}
{% import "github.com/kyleu/admini/views/vresult" %}
{% import "github.com/kyleu/admini/views/vutil" %}

{% code type ModelList struct {
  layout.Basic
  CtxT string
  CtxK string
  Model *model.Model
  ParamSet util.ParamSet
  Result *result.Result
} %}

{% func (p *ModelList) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    {% if len(p.Model.Pkg) > 0 %}<div class="right">{%= vutil.WorkspacePackage(as, p.CtxT, p.CtxK, p.Model.Pkg) %}</div>{% endif %}
    <h3>{%s p.Model.Key %}</h3>
    <em>{%s p.Model.Type.String() %}</em>
    <a href="#modal-model"><button type="button">Model</button></a>
    <a href="#modal-json"><button type="button">Result</button></a>
    <a href="{%= vutil.WorkspaceLink(as, p.CtxT, p.CtxK, append(p.Model.Path(), `new`)...) %}"><button type="button">Create New</button></a>
  </div>

  {%= vresult.ResultView(p.CtxT, p.CtxK, p.Result, p.Model, 2, p.ParamSet.Get(p.Model.Key, p.Model.Fields.Names(), ps.Logger), as, ps) %}

   <div class="card">
     {%= ModelAttributes(p.Model, as, ps) %}
   </div>

  <div id="modal-model" class="modal" style="display: none;">
    <a class="backdrop" href="#"></a>
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="modal-close">&times;</a>
        <h2>Model</h2>
      </div>
      <div class="modal-body">
        {%= fieldview.JSON(p.Model) %}
      </div>
    </div>
  </div>

  <div id="modal-json" class="modal" style="display: none;">
    <a class="backdrop" href="#"></a>
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="modal-close">&times;</a>
        <h2>Result</h2>
      </div>
      <div class="modal-body">
        {%= fieldview.JSON(p.Result) %}
      </div>
    </div>
  </div>
{% endfunc %}

