{% import (
  "admini.dev/admini/app"
  "admini.dev/admini/app/action"
  "admini.dev/admini/app/controller/cutil"
  "admini.dev/admini/views/components"
  "admini.dev/admini/views/layout"
) %}

{% code type WorkspaceOverview struct {
  layout.Basic
  Req *cutil.WorkspaceRequest
} %}

{% func (p *WorkspaceOverview) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGIcon(p.Req.Project.IconWithFallback(), ps) %} {%s p.Req.Project.Name() %}</h3>
    {%= actionList(p.Req, p.Req.Project.Actions, ps, 2) %}
  </div>
{% endfunc %}

{% func actionList(req *cutil.WorkspaceRequest, acts action.Actions, ps *cutil.PageState, indent int) %}{% stripspace %}
  <ul>
  {% for _, act := range acts %}
    {% if act.TypeKey != action.TypeSeparator.Key %}
      {% if len(act.Children) == 0 %}
        {%= components.Indent(true, indent + 1) %}
        <li><a href="{%s req.RouteAct(act, 0) %}">
          {%= components.SVGRef(act.IconWithFallback(), 16, 16, "icon", ps) %}
          {%s act.Name() %}
        </a></li>
      {% else %}
        {%= components.Indent(true, indent + 1) %}
        <li>
          {%= components.Indent(true, indent + 2) %}
          <a href="{%s req.RouteAct(act, 0) %}">
            {%= components.SVGRef(act.IconWithFallback(), 16, 16, "icon", ps) %}
            {%s act.Name() %}
          </a>
          {%= components.Indent(true, indent + 2) %}
          {%= actionList(req, act.Children, ps, indent + 2) %}
        {%= components.Indent(true, indent + 1) %}
        </li>
      {% endif %}
    {% endif %}
  {% endfor %}
  {%= components.Indent(true, indent) %}
  </ul>
{% endstripspace %}{% endfunc %}
