/* src/style/core.css */
html {
  height: 100%;
}
body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
#container-body {
  display: flex;
  height: calc(100% - 48px);
}
#content {
  flex-grow: 1;
  overflow: auto;
}

/* src/style/reset.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

/* src/style/util.css */
.left {
  float: left;
}
.right {
  float: right;
}

/* src/style/table.css */
table {
  width: 100%;
  border-collapse: collapse;
}
table td,
table th {
  border: 1px solid #ddd;
  padding: 4px;
}
table thead {
}
table thead th {
  font-weight: bold;
}

/* src/style/nav.css */
#navbar {
  height: 48px;
  display: flex;
}
#navbar .logo {
  margin: 8px;
}
#navbar .breadcrumbs {
  height: 32px;
  margin-top: 12px;
  font-size: 24px;
  flex-grow: 1;
}
#navbar .search-image {
  display: block !important;
}
#navbar .breadcrumbs a {
  text-decoration: none;
  color: #000;
}
#navbar .profile {
  margin: 12px;
}

/* src/style/menu.css */
.menu-container {
  width: 256px;
  overflow: auto;
}
.menu-container ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
.menu-container a,
.menu-container label {
  display: block;
  padding: 2px 0;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}
.menu-container .active > a,
.menu-container .active > label {
  background-color: antiquewhite;
}
.menu-container label {
  cursor: pointer;
}
.menu-container a:focus,
.menu-container a:hover,
.menu-container label:focus,
.menu-container label:hover {
  background: darkseagreen;
}
.level-1 a,
.level-1 label {
  padding-left: 8px;
}
.level-2 a,
.level-2 label {
  padding-left: 16px;
}
.level-3 a,
.level-3 label {
  padding-left: 24px;
}
.level-4 a,
.level-4 label {
  padding-left: 32px;
}
.level-1,
.level-2,
.level-3,
.level-4 {
  height: 100%;
  max-height: 0;
  overflow: hidden;
}
.level-0 input[type=checkbox]:checked + label + ul {
  max-height: 1000px;
}
.menu-container input[type=checkbox] + label .expand {
  display: inline;
}
.menu-container input[type=checkbox] + label .collapse {
  display: none;
}
.menu-container input[type=checkbox]:checked + label .expand {
  display: none;
}
.menu-container input[type=checkbox]:checked + label .collapse {
  display: inline;
}

/* src/style/content.css */
.padded {
  padding: 12px;
}
.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
}
.card h3 {
  margin: 0;
  padding: 0;
}

/* src/style/search.css */
.search {
  display: table;
  margin-top: 11px;
}
.search input {
  background: none;
  border: none;
  outline: none;
  width: 28px;
  min-width: 0;
  padding: 0;
  z-index: 1;
  position: relative;
  line-height: 18px;
  margin: 5px 0;
  font-size: 18px;
  -webkit-appearance: none;
  transition: all 0.6s ease;
  cursor: pointer;
}
.search input + div {
  position: relative;
  height: 28px;
  width: 100%;
  margin: -28px 0 0 0;
}
.search input + div svg {
  display: block;
  position: absolute;
  height: 28px;
  width: 160px;
  right: 0;
  top: 0;
  fill: none;
  stroke-width: 1.5px;
  stroke-dashoffset: 271.908;
  stroke-dasharray: 59 212.908;
  transition: all 0.6s ease;
}
.search input:not(:-moz-placeholder-shown) {
  width: 160px;
  padding: 0 4px;
  cursor: text;
}
.search input:not(:-ms-input-placeholder) {
  width: 160px;
  padding: 0 4px;
  cursor: text;
}
.search input:not(:placeholder-shown),
.search input:focus {
  width: 160px;
  padding: 0 4px;
  cursor: text;
}
.search input:not(:-moz-placeholder-shown) + div svg {
  stroke-dasharray: 150 212.908;
  stroke-dashoffset: 300;
}
.search input:not(:-ms-input-placeholder) + div svg {
  stroke-dasharray: 150 212.908;
  stroke-dashoffset: 300;
}
.search input:not(:placeholder-shown) + div svg,
.search input:focus + div svg {
  stroke-dasharray: 150 212.908;
  stroke-dashoffset: 300;
}
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
* {
  box-sizing: inherit;
}
*:before,
*:after {
  box-sizing: inherit;
}

/* src/style/theme-light.css */
body.theme-light #navbar {
  background-color: #4f9abd;
}
body.theme-light #navbar a {
  text-decoration: none;
}
body.theme-light .menu-container {
  background-color: aliceblue;
}
body.theme-light .svg-stroke {
  stroke: #000;
}
body.theme-light .svg-fill {
  fill: #000;
}
body.theme-light .search input {
  color: #000;
}
body.theme-light .search input + div svg {
  stroke: #000;
}

/* src/client.css */
