{% import (
  "github.com/kyleu/admini/app"
  "github.com/kyleu/admini/app/controller/cutil"
  "github.com/kyleu/admini/app/schema/model"
  "github.com/kyleu/admini/app/schema"
  "github.com/kyleu/admini/app/source"
  "github.com/kyleu/admini/app/util"
  "github.com/kyleu/admini/views/components"
  "github.com/kyleu/admini/views/layout"
  "github.com/kyleu/admini/views/vutil"
) %}

{% code type Detail struct {
  layout.Basic
  Source *source.Source
  Schema *schema.Schema
} %}

{% func (p *Detail) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right"><a href="/source/{%s p.Source.Key %}/edit"><button type="button">Edit</button></a></div>
    <h3>{%= components.SVGRef(p.Source.IconWithFallback(), 20, 20, `icon`, ps) %}{%s p.Source.Name() %}</h3>
    {% if p.Source.Description != "" %}<em>{%s p.Source.Description %}</em>{% endif %}
    <p>
      <a href="/s/{%s p.Source.Key %}"><button type="button">Workspace</button></a>
      <a href="/source/{%s p.Source.Key %}/refresh"><button type="button">Refresh</button></a>
    </p>
  </div>

  <div class="card">
    <h3>Models</h3>
    <table>
      <thead>
        <tr>
          <th>Key</th>
          <th>Title</th>
          <th>Plural</th>
          <th>Path</th>
        </tr>
      </thead>
      <tbody>
      {%- if p.Schema != nil && len(p.Schema.Models) > 0 -%}
      {%- for _, m := range p.Schema.Models -%}
        {%= modelRow(p.Source.Key, m, 4, as, ps) %}
      {%- endfor -%}
      {%- else -%}
        <tr><td colspan="3"><em>no models</em></td></tr>
      {%- endif -%}
      </tbody>
    </table>
  </div>
{% endfunc %}

{% func modelRow(srcKey string, m *model.Model, indent int, as *app.State, ps *cutil.PageState) %}{% stripspace %}
  <tr>
    {%= vutil.Indent(true, indent + 1) %}
    <td><a href="/source/{%s srcKey %}/model/{%s m.String() %}">{%s m.Key %}</a></td>
    {%= vutil.Indent(true, indent + 1) %}

    {% code sing, plur := util.StringForms(util.ToTitle(m.Key)) %}
    <td>
      {% if m.Name() == sing %}
        <em>{%s m.Name() %}</em>
      {% else %}
        {%s m.Name() %}
      {% endif %}
    </td>
    {%= vutil.Indent(true, indent + 1) %}
    <td>
      {% if m.PluralName() == plur %}
        <em>{%s m.PluralName() %}</em>
      {% else %}
        {%s m.PluralName() %}
      {% endif %}
    </td>
    {%= vutil.Indent(true, indent + 1) %}
    <td>{%s m.Pkg.ToPath() %}</td>
  {%= vutil.Indent(true, indent) %}
  </tr>
{% endstripspace %}{% endfunc %}
