{% import "github.com/kyleu/admini/app" %}
{% import "github.com/kyleu/admini/app/controller/cutil" %}
{% import "github.com/kyleu/admini/app/schema" %}
{% import "github.com/kyleu/admini/app/source" %}
{% import "github.com/kyleu/admini/views/components" %}
{% import "github.com/kyleu/admini/views/layout" %}

{% code type Detail struct {
  layout.Basic
  Source *source.Source
  Schema *schema.Schema
} %}

{% func (p *Detail) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right"><a href="/source/{%s p.Source.Key %}/edit"><button type="button">Edit</button></a></div>
    <h3>{%= components.SVGRef(p.Source.IconWithFallback(), 20, 20, `icon`, ps) %}{%s p.Source.Name() %}</h3>
    {% if p.Source.Description != "" %}<em>{%s p.Source.Description %}</em>{% endif %}
    <p>
      <a href="/s/{%s p.Source.Key %}"><button type="button">Workspace</button></a>
      <a href="/source/{%s p.Source.Key %}/refresh"><button type="button">Refresh</button></a>
    </p>
  </div>

  <div class="card">
    <h3>Models</h3>
    <table>
      <thead>
        <tr>
          <th>Key</th>
          <th>Title</th>
          <th>Plural</th>
          <th>Path</th>
        </tr>
      </thead>
      <tbody>
      {%- if p.Schema != nil && len(p.Schema.Models) > 0 -%}
      {%- for _, m := range p.Schema.Models -%}
        <tr>
          <td><a href="/source/{%s p.Source.Key %}/model/{%s m.String() %}">{%s m.Key %}</a></td>
          <td>{%s m.Name() %}</td>
          <td>{%s m.PluralName() %}</td>
          <td>{%s m.Pkg.ToPath() %}</td>
        </tr>
      {%- endfor -%}
      {%- else -%}
        <tr><td colspan="3"><em>no models</em></td></tr>
      {%- endif -%}
      </tbody>
    </table>
  </div>
{% endfunc %}
