{% import "github.com/kyleu/admini/app" %}
{% import "github.com/kyleu/admini/app/controller/cutil" %}
{% import "github.com/kyleu/admini/app/schema" %}
{% import "github.com/kyleu/admini/app/source" %}
{% import "github.com/kyleu/admini/views/components" %}
{% import "github.com/kyleu/admini/views/layout" %}

{% code type Detail struct {
  layout.Basic
  Source *source.Source
  Schema *schema.Schema
} %}

{% func (p *Detail) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right"><a href="{%s as.Route(`source.edit`, `key`, p.Source.Key) %}"><button type="button">Edit</button></a></div>
    <h3>{%= components.SVGRef(p.Source.Type.Icon, 0, 0, ``, ``, ps) %} {%s p.Source.Name() %}</h3>
    {% if p.Source.Description != "" %}<em>{%s p.Source.Description %}</em>{% endif %}
    <p>
      <a href="{%s as.Route(`workspace.source`, `key`, p.Source.Key) %}"><button type="button">Workspace</button></a>
      <a href="{%s as.Route(`source.refresh`, `key`, p.Source.Key) %}"><button type="button">Refresh</button></a>
      <a href="#modal-schema"><button type="button">Schema</button></a>
    </p>
  </div>

  <div class="card">
    <ul class="accordion">
    {%- if p.Schema != nil -%}
      {%- for idx, model := range p.Schema.Models -%}
      {%= ModelSummary(p.Source.Key, idx, model, as, ps) %}
      {%- endfor -%}
    {%- else -%}
      <li><em>no models</em></li>
    {%- endif -%}
    </ul>
  </div>

  {%= components.JSONModal("schema", "Schema JSON", p.Schema, 1) %}
{% endfunc %}
