{% import "github.com/kyleu/admini/app" %}
{% import "github.com/kyleu/admini/app/controller/cutil" %}
{% import "github.com/kyleu/admini/app/database" %}
{% import "github.com/kyleu/admini/app/source" %}
{% import "github.com/kyleu/admini/views/components" %}
{% import "github.com/kyleu/admini/views/layout" %}

{% code type EditPostgres struct {
  layout.Basic
  Source *source.Source
  Cfg *database.DBParams
} %}

{% func (p *EditPostgres) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right">
      <a class="link-confirm" data-message="Are you sure you want to delete source [{%s p.Source.Key %}]?" href="/source/{%s p.Source.Key %}/delete">Delete Source</a>
    </div>
    <h3>Edit [{%s p.Source.Key %}]</h3>
    <div class="spacer"></div>
    <form class="editor" action="/source/{%s p.Source.Key %}" method="post" enctype="application/x-www-form-urlencoded">
      <table>
        <tbody>
          {%= components.TableInput("title", "Title", p.Source.Title, 5) %}
          <tr>
            <th class="shrink"><label>Icon</label></th>
            <td>{%= components.IconPicker(p.Source.Icon, "icon", ps, 7) %}
            </td>
          </tr>
          {%= components.TableInput("description", "Description", p.Source.Description, 5) %}
          {%= databaseFields(p.Cfg, 5) %}
        </tbody>
      </table>
      <div class="spacer"></div>
      <button type="submit">Save Changes</button>
      <button type="reset">Reset</button>
    </form>
  </div>
{% endfunc %}

{% func databaseFields(cfg *database.DBParams, indent int) %}{% stripspace %}
  {%= components.TableInput("host", "Host", cfg.Host, indent) %}
  {%= components.TableInputNumber("port", "Port", cfg.Port, indent) %}
  {%= components.TableInput("username", "Username", cfg.Username, indent) %}
  {%= components.TableInput("password", "Password", cfg.Password, indent) %}
  {%= components.TableInput("database", "Database", cfg.Database, indent) %}
  {%= components.TableInput("schema", "Schema", cfg.Schema, indent) %}
  {%= components.TableBoolean("debug", "Debug", cfg.Debug, indent) %}
{% endstripspace %}{% endfunc %}
