{% import "github.com/kyleu/admini/app" %}
{% import "github.com/kyleu/admini/app/controller/cutil" %}
{% import "github.com/kyleu/admini/app/source" %}
{% import "github.com/kyleu/admini/views/layout" %}

{% code type List struct {
  layout.Basic
  Sources source.Sources
} %}

{% func (p *List) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right"><a href="{%s as.Route(`source.new.form`) %}">add new</a></div>
    <h3>Sources</h3>
    {%= Table(p.Sources, as, ps) %}
  </div>
{% endfunc %}
