{% import (
  "github.com/kyleu/admini/app"
  "github.com/kyleu/admini/app/controller/cutil"
  "github.com/kyleu/admini/app/source"
  "github.com/kyleu/admini/views/components"
  "github.com/kyleu/admini/views/layout"
) %}

{% code type List struct {
  layout.Basic
  Sources source.Sources
} %}

{% func (p *List) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <div class="right"><a href="/source/_new" title="add new source">{%= components.SVGRef(`plus`, 20, 20, `icon`, ps) %}</a></div>
    <h3>Sources</h3>
    {%= Table(p.Sources, as, ps) %}
  </div>
{% endfunc %}
