{% import (
  "admini.dev/admini/app"
  "admini.dev/admini/app/controller/cutil"
  "admini.dev/admini/app/lib/schema/model"
  "admini.dev/admini/app/util"
  "admini.dev/admini/views/components/view"
) %}

{% func ModelReferenceList(m *model.Model, as *app.State, ps *cutil.PageState) %}{%- if len(m.References) > 0 -%}
    <div class="card">
      <h3>{%s util.StringPlural(len(m.References), `reference`) %}</h3>
      <table>
        <thead>
          <tr>
            <th>Key</th>
            <th>Target Fields</th>
            <th>Source Package</th>
            <th>Source Model</th>
            <th>Source Fields</th>
          </tr>
        </thead>
        <tbody>
        {%- for _, ref := range m.References -%}
          <tr>
            <td>{%= view.String(ref.Key) %}</td>
            <td>{%= view.StringArray(ref.TargetFields) %}</td>
            <td>{%= view.Package(ref.SourcePkg) %}</td>
            <td>{%= view.String(ref.SourceModel) %}</td>
            <td>{%= view.StringArray(ref.SourceFields) %}</td>
          </tr>
        {%- endfor -%}
        </tbody>
      </table>
    </div>
{%- endif -%}{% endfunc %}
