{% import (
  "admini.dev/admini/app"
  "admini.dev/admini/app/controller/cutil"
  "admini.dev/admini/app/lib/schema/model"
  "admini.dev/admini/app/util"
  "admini.dev/admini/views/components/view"
) %}

{% func ModelRelationshipList(m *model.Model, as *app.State, ps *cutil.PageState) %}{%- if len(m.Relationships) > 0 -%}
    <div class="card">
      <h3>{%s util.StringPlural(len(m.Relationships), `relationship`) %}</h3>
      <table>
        <thead>
          <tr>
            <th>Key</th>
            <th>Source Fields</th>
            <th>Target Package</th>
            <th>Target Model</th>
            <th>Target Fields</th>
          </tr>
        </thead>
        <tbody>
        {%- for _, rel := range m.Relationships -%}
          <tr>
            <td>{%= view.String(rel.Key) %}</td>
            <td>{%= view.StringArray(rel.SourceFields) %}</td>
            <td>{%= view.Package(rel.TargetPkg) %}</td>
            <td>{%= view.String(rel.TargetModel) %}</td>
            <td>{%= view.StringArray(rel.TargetFields) %}</td>
          </tr>
        {%- endfor -%}
        </tbody>
      </table>
    </div>
{%- endif -%}{% endfunc %}
