{% import "path/filepath" %}
{% import "github.com/kyleu/admini/app" %}
{% import "github.com/kyleu/admini/app/controller/cutil" %}
{% import "github.com/kyleu/admini/app/model" %}
{% import "github.com/kyleu/admini/app/schema" %}
{% import "github.com/kyleu/admini/app/source" %}
{% import "github.com/kyleu/admini/views/components" %}
{% import "github.com/kyleu/admini/views/layout" %}

{% code type ModelDetail struct {
  layout.Basic
  Source *source.Source
  Schema *schema.Schema
  Model  *model.Model
} %}

{% func (p *ModelDetail) Body(as *app.State, ps *cutil.PageState) %}
  <form action="" method="post" enctype="application/x-www-form-urlencoded">
    <div class="card">
      <div class="right">
        <a href="/s/{%s p.Source.Key %}/{%s filepath.Join(p.Model.Path()...) %}"><button type="button">View</button></a>
      </div>
      <h3>{%s p.Model.Name() %}</h3>
      <em><a href="/source/{%s p.Source.Key %}">{%s p.Source.Key %}</a>{% if len(p.Model.Pkg) > 0 %}@{%s p.Model.Pkg.ToPath() %}{% endif %}</em>
    </div>
    {%- code m := p.Model -%}
    <div class="card">
      <table>
        <tbody>
          <tr>
            <th class="shrink"><label for="input-{%s schema.KeyTitle %}">Title</label></th>
            <td>{%= components.FormInput("title", "input-" + schema.KeyTitle, m.Name()) %}</td>
          </tr>
          <tr>
            <th class="shrink"><label for="input-{%s schema.KeyPlural %}">Plural</label></th>
            <td>{%= components.FormInput("plural", "input-" + schema.KeyPlural, m.PluralName()) %}</td>
          </tr>
        </tbody>
      </table>
      <div class="mt">
        <button type="submit">Save All Changes</button>
        <button type="reset">Reset</button>
      </div>
    </div>
    {%-= ModelFieldList(m, as, ps) -%}
    {%-= ModelIndexList(m, as, ps) -%}
    {%-= ModelRelationshipList(m, as, ps) -%}
    {%-= ModelReferenceList(m, as, ps) -%}
  </form>
{% endfunc %}
