{% import "github.com/kyleu/admini/app" %}
{% import "github.com/kyleu/admini/app/controller/cutil" %}
{% import "github.com/kyleu/admini/app/schema" %}
{% import "github.com/kyleu/admini/views/components" %}
{% import "github.com/kyleu/admini/views/components/fieldview" %}
{% import "github.com/kyleu/admini/views/vworkspace" %}

{% func ModelSummary(schemaKey string, idx int, model *schema.Model, as *app.State, ps *cutil.PageState) %}
  <li>
    <input id="model-list-{%d idx %}" type="checkbox" hidden />
    <label for="model-list-{%d idx %}">
      <em class="right">{%s model.Pkg.ToPath() %}</em>
      {%= components.ExpandCollapse(3, ps) %}
      {%s model.Key %}
    </label>
    <div class="bd">
      <div>
        <a href="{%= vworkspace.WorkspaceLink(as, schemaKey, model.Path()...) %}"><button type="button">View</button></a>
      </div>
      {% if len(model.Fields) == 0 %}
      <div>No fields in {%s model.Type.String() %}</div>
      {% else %}
      <table>
        <caption>{%d len(model.Fields) %} fields in {%s model.Type.String() %}</caption>
        <thead>
          <tr>
            <th>Key</th>
            <th>Type</th>
            <th title="nullable">∅</th>
            <th title="read-only">RO</th>
            <th>Metadata</th>
          </tr>
        </thead>
        <tbody>
        {% for _, f := range model.Fields %}
          <tr>
            <td>{%= fieldview.String(f.Key) %}</td>
            <td>{%= fieldview.Type(f.Type) %}</td>
            <td>{%= fieldview.Boolean(f.Nullable) %}</td>
            <td>{%= fieldview.Boolean(f.ReadOnly) %}</td>
            <td>{%= fieldview.String(f.Key) %}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
  </li>
{% endfunc %}
