{% import (
  "admini.dev/admini/app"
  "admini.dev/admini/app/controller/cutil"
  "admini.dev/admini/app/lib/schema/model"
  "admini.dev/admini/app/util"
  "admini.dev/admini/views/components/fieldview"
) %}

{% func ModelIndexList(m *model.Model, as *app.State, ps *cutil.PageState) %}{%- if len(m.Indexes) > 0 -%}
    <div class="card">
      <h3>{%s util.StringPlural(len(m.Indexes), `index`) %}</h3>
      <table>
        <thead>
          <tr>
            <th>Key</th>
            <th>Fields</th>
            <th>Unique</th>
            <th title="Primary Key">PK</th>
          </tr>
        </thead>
        <tbody>
        {%- for _, idx := range m.Indexes -%}
          <tr>
            <td>{%= fieldview.String(idx.Key) %}</td>
            <td>{%= fieldview.ArrayString(idx.Fields) %}</td>
            <td>{%= fieldview.Boolean(idx.Unique) %}</td>
            <td>{%= fieldview.Boolean(idx.Primary) %}</td>
          </tr>
        {%- endfor -%}
        </tbody>
      </table>
    </div>
{%- endif -%}{% endfunc %}
