{% import (
  "admini.dev/admini/app"
  "admini.dev/admini/app/controller/cutil"
  "admini.dev/admini/app/lib/schema"
  "admini.dev/admini/views/components"
  "admini.dev/admini/views/layout"
) %}

{% code type New struct {
  layout.Basic
  Origin schema.Origin
} %}

{% func (p *New) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>New Source</h3>
    <form class="mt" action="/source" method="post" enctype="application/x-www-form-urlencoded">
      <table class="expanded">
        <tbody>
          {%= components.TableInput("key", "Key", "", 5) %}
          {%= components.TableInput("title", "Title", "", 5) %}
          {%= components.TableIcons("icon", "Icon", "", ps, 5) %}
          {%= components.TableTextarea("description", "Description", 8, "", 5) %}
          {%= components.TableRadio("type", "Type", p.Origin.Key, schema.OriginKeys(), schema.OriginTitles(), 5) %}
        </tbody>
      </table>
      <button class="mt" type="submit">Save Changes</button>
      <a href="/source"><button type="button">Cancel</button></a>
    </form>
  </div>
{% endfunc %}
