{% import "github.com/kyleu/admini/app" %}
{% import "github.com/kyleu/admini/app/controller/cutil" %}
{% import "github.com/kyleu/admini/app/schema" %}
{% import "github.com/kyleu/admini/views/components" %}
{% import "github.com/kyleu/admini/views/layout" %}

{% code type New struct {
  layout.Basic
  Origin schema.Origin
} %}

{% func (p *New) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>New Source</h3>
    <div class="spacer"></div>
    <form class="editor" action="/source" method="post" enctype="application/x-www-form-urlencoded">
      <table>
        <tbody>
          {%= components.TableInput("key", "Key", "", 5) %}
          {%= components.TableInput("title", "Title", "", 5) %}
          <tr>
            <th class="shrink"><label>Icon</label></th>
            <td>{%= components.IconPicker("", "icon", ps, 7) %}
            </td>
          </tr>
          {%= components.TableTextarea("description", "Description", "", 5) %}
          {%= components.TableRadio("type", "Type", p.Origin.Key, schema.OriginKeys(), schema.OriginTitles(), 5) %}
        </tbody>
      </table>
      <div class="spacer"></div>
      <button type="submit">Save Changes</button>
      <a href="/source"><button type="button">Cancel</button></a>
    </form>
  </div>
{% endfunc %}
