{% import "github.com/kyleu/admini/app" %}
{% import "github.com/kyleu/admini/app/controller/cutil" %}
{% import "github.com/kyleu/admini/views/layout" %}

{% code type New struct {
  layout.Basic
} %}

{% func (p *New) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>New Source</h3>
    <div class="spacer"></div>
    <form class="editor" action="" method="post" enctype="application/x-www-form-urlencoded">
      <table>
        <tbody>
          <tr>
            <th class="shrink"><label for="input-title">Title</label></th>
            <td><input value="" name="title" id="input-title" /></td>
          </tr>
          <tr>
            <th class="shrink"><label for="input-type">Type</label></th>
            <td><input value="TODO" name="type" id="input-type" /></td>
          </tr>
          <tr>
            <td colspan="2">
              <button type="submit">Save Changes</button>
              <a href="{%s as.Route(`source.list`) %}"><button>Cancel</button></a>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
{% endfunc %}
