{% import "github.com/kyleu/admini/app" %}
{% import "github.com/kyleu/admini/app/controller/cutil" %}
{% import "github.com/kyleu/admini/app/source" %}

{% func SourceTable(sources source.Sources, as *app.State, ps *cutil.PageState) %}
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Type</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {%- for _, s := range sources -%}
        <tr>
          <td>
            <a href="{%s as.Route(`source.detail`, `key`, s.Key) %}">{%s s.Title %}</a>
          </td>
          <td>{%s s.Description %}</td>
          <td>{%s s.Type.String() %}</td>
          <td class="shrink">
            <a href="{%s as.Route(`source.edit`, `key`, s.Key) %}"><button type="button">edit</button></a>
            <a href="{%s as.Route(`source.refresh`, `key`, s.Key) %}"><button type="button">refresh</button></a>
            <a href="{%s as.Route(`workspace.source`, `key`, s.Key) %}"><button type="button">workspace</button></a>
          </td>
        </tr>
      {%- endfor -%}
      </tbody>
    </table>
{% endfunc %}
