{% import "github.com/kyleu/admini/app" %}
{% import "github.com/kyleu/admini/app/controller/cutil" %}
{% import "github.com/kyleu/admini/app/schema" %}
{% import "github.com/kyleu/admini/app/source" %}
{% import "github.com/kyleu/admini/views/components" %}
{% import "github.com/kyleu/admini/views/components/fieldview" %}
{% import "github.com/kyleu/admini/views/layout" %}

{% code type SourceDetail struct {
  layout.Basic
  Source *source.Source
  Schema *schema.Schema
} %}

{% func (p *SourceDetail) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%= components.SVGRef(p.Source.Type.Icon, 0, 0, ``, ``, ps) %} {%s p.Source.Title %}</h3>
    <p>
      <a href="{%s as.Route(`source.refresh`, `key`, p.Source.Key) %}"><button type="button">Refresh</button></a>
      <a href="{%s as.Route(`workspace.source`, `key`, p.Source.Key) %}"><button type="button">Workspace</button></a>
      <a href="#modal-source"><button type="button">Source</button></a>
      <a href="#modal-schema"><button type="button">Schema</button></a>
    </p>
  </div>

  <div class="card">
    <ul class="accordion">
    {% if p.Schema != nil %}{% for idx, model := range p.Schema.Models %}
      {%= ModelSummary(p.Source.Key, idx, model, as, ps) %}
    {% endfor %}{% endif %}
    </ul>
  </div>

  <div id="modal-source" class="modal" style="display: none;">
    <a class="backdrop" href="#"></a>
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="modal-close">&times;</a>
        <h2>Source JSON</h2>
      </div>
      <div class="modal-body">
        {%= fieldview.JSON(p.Source) %}
      </div>
    </div>
  </div>

  <div id="modal-schema" class="modal" style="display: none;">
    <a class="backdrop" href="#"></a>
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="modal-close">&times;</a>
        <h2>Schema JSON</h2>
      </div>
      <div class="modal-body">
        {%= fieldview.JSON(p.Schema) %}
      </div>
    </div>
  </div>
{% endfunc %}
