{% import "reflect" %}
{% import "github.com/kyleu/admini/app/menu" %}
{% import "github.com/kyleu/admini/app/controller/cutil" %}
{% import "github.com/kyleu/admini/views/components" %}
{% import "github.com/kyleu/admini/views/vutil" %}

{% func Menu(ps *cutil.PageState) %}
<nav class="menu-container" role="navigation">
  <div class="menu">
  {% stripspace %}
  <ul class="level-0">
    {% for _, i := range ps.Menu %}
      {%= MenuItem(i, []string{}, ps.Breadcrumbs, 1) %}
    {% endfor %}
    {%= vutil.Indent(true, 1) %}
  </ul>
  {% code ps.AddIcon(`collapse`, `expand`, `link`) %}
  {% endstripspace %}
  </div>
</nav>
{% endfunc %}

{% func MenuItem(i *menu.Item, path []string, breadcrumbs []string, indent int) %}{% stripspace %}
  {% code
    path = append(path, i.Key)
    active := false
    if len(path) <= len(breadcrumbs) {
      active = reflect.DeepEqual(breadcrumbs[0:len(path)], path)
    }
    final := reflect.DeepEqual(breadcrumbs, path)
  %}
    {% if i.Key == "" %}
      {%= vutil.Indent(true, indent + 1) %}
      <li class="separator"><hr /></li>
    {% elseif len(i.Children) > 0 %}
      {%= vutil.Indent(true, indent + 1) %}
      {% if active %}<li class="active">{% else %}<li>{% endif %}
      {%= vutil.Indent(true, indent + 2) %}
      {% if active %}
        <input id="{%s i.Key %}-input" type="checkbox" checked="checked" hidden />
      {% else %}
        <input id="{%s i.Key %}-input" type="checkbox" hidden />
      {% endif %}
      {%= vutil.Indent(true, indent + 2) %}
      <label for="{%s i.Key %}-input" title="{%s i.Description %}">
        {% if i.Route != "" %}
          {%= vutil.Indent(true, indent + 3) %}
          <div class="label-link" style="display: none;"><a href="{%s i.Route %}"><svg viewBox="0 0 20 20" class="small-icon"><use xlink:href="#svg-link" /></svg></a></div>
        {% endif %}
        {%= components.ExpandCollapse(indent + 3) %}
        {%= vutil.Indent(true, indent + 3) %}
        {%s i.Title %}
      {%= vutil.Indent(true, indent + 2) %}
      </label>
      {%= vutil.Indent(true, indent + 2) %}
      <ul class="level-{%d len(path) %}">
        {% for _, i := range i.Children %}
          {%= MenuItem(i, path, breadcrumbs, indent + 2) %}
        {% endfor %}
      {%= vutil.Indent(true, indent + 2) %}</ul>
      {%= vutil.Indent(true, indent + 1) %}</li>
    {% else %}
      {% code
        finalClass := "item"
        if final {
          finalClass += " final"
        }
        if active {
          finalClass += " active"
        }
      %}
      {%= vutil.Indent(true, indent + 1) %}
      <li><a class="{%s finalClass %}" href="{%s i.Route %}" title="{%s i.Description %}">{%s i.Title %}</a></li>
    {% endif %}
{% endstripspace %}{% endfunc %}
