{% import "github.com/kyleu/admini/app/controller/cutil" %}
{% import "github.com/kyleu/admini/app/menu" %}
{% import "github.com/kyleu/admini/views/components" %}
{% import "github.com/kyleu/admini/views/vutil" %}

{% func Nav(ps *cutil.PageState) %}<nav id="navbar">
  <a class="logo" href="{%s ps.RootPath %}">{%= components.SVGRef(`app`, 32, 32, ``, `-544 556 90 90`, ps) %}</a>
  <div class="breadcrumbs">
    <a class="link" href="{%s ps.RootPath %}">{%s ps.RootTitle %}</a>{%= NavItems(ps.Menu, ps.Breadcrumbs) %}
  </div>
  <form action="{%s ps.SearchPath %}" class="search" title="search">
    <input type="search" name="q" placeholder=" " />
    <div class="search-image" style="display: none;"><svg><use xlink:href="#svg-search" /></svg></div>
  </form>
  <a class="profile" title="profile" href="{%s ps.ProfilePath %}">{%= components.SVGRef(`profile`, 24, 24, ``, ``, ps) %}</a>
</nav>{% endfunc %}

{% func NavItems(m menu.Items, breadcrumbs []string) %}{% stripspace %}
  {% for idx, bc := range breadcrumbs %}
    {% code i := m.GetByPath(breadcrumbs[:idx + 1]) %}
    {%= vutil.Indent(true, 2) %}
    <span class="separator">/</span>
    {%= vutil.Indent(true, 2) %}
    {% if i == nil %}
      <a class="link" href="">{%s bc %}</a>
    {% else %}
      <a class="link" href="{%s i.Route %}">{%s i.Title %}</a>
    {% endif %}
  {% endfor %}
{% endstripspace %}{% endfunc %}
