{% import "github.com/kyleu/admini/app" %}
{% import "github.com/kyleu/admini/app/util" %}

{% func About(as *app.State) %}
  <div class="card">
    {%- if util.AppSource != "" -%}
    <div class="right"><a href="{%s util.AppSource %}">Github</a></div>
    {%- endif -%}
    <h3>{%s util.AppName %} v{%s as.BuildInfo.Version %}</h3>
    {%- if as.BuildInfo.Date != "unknown" -%}
    <em>built on {%s as.BuildInfo.Date %}</em>
    {%- endif -%}
    {%- if util.AppLegal != "" -%}
    <div>{%s= util.AppLegal %}</div>
    {%- endif -%}
    {%- if util.AppURL != "" -%}
    <p><a href="{%s= util.AppURL %}">{%s= util.AppURL %}</a></p>
    {%- endif -%}
  </div>
{% endfunc %}
