{% import "github.com/kyleu/admini/app" %}
{% import "github.com/kyleu/admini/app/export" %}
{% import "github.com/kyleu/admini/app/model" %}
{% import "github.com/kyleu/admini/app/controller/cutil" %}
{% import "github.com/kyleu/admini/views/layout" %}
{% import "github.com/kyleu/admini/views/vutil" %}

{% code type List struct {
  layout.Basic
  CtxT string
  CtxK string
  Model *model.Model
} %}

{% func (p *List) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%s ps.Title %}</h3>
    <ul>
      {%- for _, f := range export.AllFormats -%}
      <li><a href="{%= vutil.WorkspaceLink(as, p.CtxT, p.CtxK, append(p.Model.Path(), `export`, f.Language, f.Flavor)...) %}">{%s f.Language %} ({%s f.Flavor %})</a></li>
      {%- endfor -%}
    </ul>
  </div>
{% endfunc %}
