{% import (
  "github.com/kyleu/admini/app"
  "github.com/kyleu/admini/app/action"
  "github.com/kyleu/admini/app/controller/cutil"
  "github.com/kyleu/admini/app/schema/model"
  "github.com/kyleu/admini/views/layout"
) %}

{% code type List struct {
  layout.Basic
  Act *action.Action
  Req *cutil.WorkspaceRequest
  Model *model.Model
} %}

{% func (p *List) Body(as *app.State, ps *cutil.PageState) %}
  <div class="card">
    <h3>{%s ps.Title %}</h3>
    <ul>
      <li><a href="{%s p.Req.RouteAct(p.Act, 0, `go`) %}">Go</a></li>
      <li><a href="{%s p.Req.RouteAct(p.Act, 0, `json`) %}">JSON</a></li>
    </ul>
  </div>
{% endfunc %}
