{% import "sort" %}
{% import "github.com/kyleu/admini/app" %}
{% import "github.com/kyleu/admini/app/controller/cutil" %}
{% import "github.com/kyleu/admini/app/result" %}
{% import "github.com/kyleu/admini/app/util" %}
{% import "github.com/kyleu/admini/views/layout" %}
{% import "github.com/kyleu/admini/views/vresult" %}
{% import "github.com/kyleu/admini/queries" %}

{% code type SandboxTestbed struct { layout.Basic } %}

{% func (p *SandboxTestbed) Body(as *app.State, ps *cutil.PageState) %}
  {% code data := ps.Data.(map[string]interface{}) %}
  <div class="card">
    <h3>Testbed!</h3>
    <div><a href="#modal-x">Open modal</a></div>
  </div>
  <div id="modal-x" class="modal" style="display: none;">
    <a class="backdrop" href="#"></a>
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="modal-close">&times;</a>
        <h2>Modal</h2>
      </div>
      <div class="modal-body">
        Here's a modal body!
      </div>
    </div>
  </div>

  <div class="card">
    <h3>Icons!</h3>
    <div style="display: flex;">
      {%- code
        keys := make([]string, 0, len(util.SVGLibrary))
        for k, _ := range util.SVGLibrary {
          keys = append(keys, k)
        }
        sort.Strings(keys)
      -%}
      {%- for _, k := range keys -%}
      <div style="text-align: center; margin: 6px 12px 6px 0; padding: 6px; border: var(--border)">
        <div style="width: 64px; height: 64px;">{%s= util.SVGLibrary[k] %}</div>
        {%s k %}
      </div>
      {%- endfor -%}
    </div>
  </div>

  <div class="card">
    <h3>Tables</h3>
    <pre>{%s queries.ListTables("") %}</pre>
    {%= vresult.ResultView("", "", data["tables"].(*result.Result), nil, 3, nil, as, ps) %}
  </div>
  <div class="card">
    <h3>Columns</h3>
    <pre>{%s queries.ListColumns("") %}</pre>
    {%= vresult.ResultView("", "", data["columns"].(*result.Result), nil, 3, nil, as, ps) %}
  </div>
  <div class="card">
    <h3>Indexes</h3>
    <pre>{%s queries.ListIndexes("") %}</pre>
    {%= vresult.ResultView("", "", data["indexes"].(*result.Result), nil, 3, nil, as, ps) %}
  </div>
  <div class="card">
    <h3>Foreign Keys</h3>
    <pre>{%s queries.ListForeignKeys("") %}</pre>
    {%= vresult.ResultView("", "", data["fks"].(*result.Result), nil, 3, nil, as, ps) %}
  </div>
{% endfunc %}
